[2021-09-29 19:38] avaidyanatha opened #1 "Source: Netsuite"

[2021-09-29 19:39] avaidyanatha opened #2 "Source: LinkedIn Ads"

[2021-09-29 19:40] avaidyanatha opened #3 "Source: Salesforce Marketing Cloud"

[2021-09-29 19:40] avaidyanatha opened #4 "Source: Databricks"

[2021-09-29 19:41] avaidyanatha opened #5 "Source: Customer.io"

[2021-09-29 19:41] avaidyanatha opened #6 "Source: SAP"

[2021-09-29 19:41] avaidyanatha opened #7 "Source: Notion"

[2021-09-29 19:41] avaidyanatha opened #8 "Source: Vertica"

[2021-09-29 19:42] avaidyanatha opened #9 "Source: Sentry"

[2021-09-29 19:42] avaidyanatha opened #10 "Source: Bitrix"

[2021-09-29 19:42] avaidyanatha opened #11 "Source: Zapier"

[2021-09-29 19:43] avaidyanatha opened #12 "Source: Jira Server"

[2021-09-29 19:43] avaidyanatha opened #13 "Source: ServiceNow"

[2021-09-29 19:43] avaidyanatha opened #14 "Source: Sage Intacct"

[2021-09-29 19:44] avaidyanatha opened #15 "Source: Pinterest Ads"

[2021-09-29 19:44] avaidyanatha opened #16 "Source: Workday"

[2021-09-29 19:44] avaidyanatha opened #17 "Source: Yandex Direct"

[2021-09-29 19:44] avaidyanatha opened #18 "Source: Elasticsearch"

[2021-09-29 19:44] avaidyanatha opened #19 "Source: Workable"

[2021-09-29 19:45] avaidyanatha opened #20 "New Source: Firebase Realtime Database"

[2021-09-29 19:45] avaidyanatha opened #21 "Source: Braze"

[2021-09-29 19:45] avaidyanatha opened #22 "Source: CrossKnowledge"

[2021-09-29 19:45] avaidyanatha opened #23 "Source: Gong"

[2021-09-29 19:46] avaidyanatha opened #24 "Source: Google Campaign Manager"

[2021-09-29 19:46] avaidyanatha opened #25 "Source: Adyen"

[2021-09-29 19:47] avaidyanatha opened #26 "Destination: Google Sheets"

[2021-09-29 19:47] avaidyanatha opened #27 "Destination: Elasticsearch"

[2021-09-29 19:47] avaidyanatha opened #28 "Destination: Microsoft PowerBI"

[2021-09-29 19:47] avaidyanatha opened #29 "Destination: AppsFlyer"

[2021-09-29 19:48] avaidyanatha opened #30 "Destination: MariaDB ColumnStore"

[2021-09-29 19:48] avaidyanatha opened #31 "Destination: ClickHouse"

[2021-09-29 19:48] avaidyanatha opened #32 "Destination: Exasol"

[2021-09-29 19:49] avaidyanatha opened #33 "Source: Freshsales"

[2021-09-29 19:49] avaidyanatha opened #34 "Source: Pendo.io"

[2021-09-29 19:50] avaidyanatha opened #35 "Source: Lemlist"

[2021-09-29 19:50] avaidyanatha opened #36 "Source: Delta Lake"

[2021-09-29 19:50] avaidyanatha opened #37 "Source: Microsoft Sharepoint"

[2021-09-29 19:50] avaidyanatha opened #38 "Source: VTEX"

[2021-09-29 19:51] avaidyanatha opened #39 "Source: Falcon.io"

[2021-09-29 19:51] avaidyanatha opened #40 "Source: CallRail"

[2021-09-29 19:51] avaidyanatha opened #41 "Source: OneSignal"

[2021-09-29 19:51] avaidyanatha opened #42 "Source: Zoho Sheets"

[2021-09-29 19:52] avaidyanatha opened #43 "Source: Dialpad"

[2021-09-29 19:52] avaidyanatha opened #44 "Source: Fullstory"

[2021-09-29 19:52] avaidyanatha opened #45 "Source: BoondManager"

[2021-09-29 19:52] avaidyanatha opened #46 "Source: SalesLoft"

[2021-09-29 19:53] avaidyanatha opened #47 "Source: Google My Business"

[2021-09-29 19:54] avaidyanatha opened #48 "Source: Genesys"

[2021-09-29 19:55] avaidyanatha opened #49 "Source: CleverTap"

[2021-09-29 19:55] avaidyanatha opened #50 "Source: Zoho CRM"

[2021-09-29 19:55] avaidyanatha opened #51 "Source: NewRelic"

[2021-09-29 19:55] avaidyanatha opened #52 "Source: TikTok for Business"

[2021-09-29 19:55] avaidyanatha opened #53 "Source: Uber Eats"

[2021-09-29 19:56] avaidyanatha opened #54 "Source: DoorDash"

[2021-09-29 19:56] avaidyanatha opened #55 "Source: Freshservice"

[2021-09-29 19:56] avaidyanatha opened #56 "Source: Airtable"

[2021-09-29 19:56] avaidyanatha opened #57 "Source: Coda"

[2021-09-29 19:56] avaidyanatha opened #58 "Source: ShipHero"

[2021-09-29 19:57] avaidyanatha opened #59 "Source: Z Workforce"

[2021-09-29 19:57] avaidyanatha opened #60 "Source: StackAdapt"

[2021-09-29 21:43] #2 closed

[2021-09-29 21:43] #4 closed

[2021-10-08 09:15] apostoltego opened #61 "Source: Parcel Perform"

[2021-10-08 09:15] apostoltego commented on #61
I can work on this one

[2021-10-08 10:09] veterparga commented on #26
I'll take it! (Peter Varga, Fnatic - Apostol's colleague)

[2021-10-08 10:29] avaidyanatha opened #62 "Source: Discord"

[2021-10-08 14:42] vagrantism opened #63 "Source: Generic Zipped Files"
Similar to `source-file` but instead takes a single zip/tar file containing multiple files and emits each file as a stream.

[2021-10-08 14:42] vagrantism commented on #63
I'll work on this one!

[2021-10-08 17:26] Garrettjson commented on #57
I'll take it

[2021-10-08 18:14] avaidyanatha commented on #57
Hey @Garrettjson, it's yours! Make sure to follow along with this issue: https://github.com/airbytehq/airbyte/issues/2167 and give updates there once you finish.

[2021-10-08 18:17] avaidyanatha commented on #63
@sherifnada Should we integrate this into `source-file` or should it live on its own?

[2021-10-08 20:34] avaidyanatha commented on #9
@koji-m A bit of communication issues, you're actually free to work on this one!

[2021-10-08 20:35] avaidyanatha commented on #9
Just make sure to follow along with this issue and provide updates here while you're implementing it: https://github.com/airbytehq/airbyte/issues/5692

[2021-10-08 22:55] avaidyanatha opened #64 "Destination: Cassandra"

[2021-10-08 22:55] avaidyanatha opened #65 "Destination: ScyllaDB"

[2021-10-09 04:22] subhash-kloudio opened #66 "Source: Retently"
I'll work on this

[2021-10-09 04:25] Zo-Bro-23 commented on #56
I'll work on this

[2021-10-09 11:11] foogunlana opened #67 "Source: Paystack"
https://paystack.com/

[2021-10-09 11:11] foogunlana commented on #67
I'll work on this

[2021-10-09 11:16] denimyftiu commented on #5
I'll work on this one!

[2021-10-09 12:13] sdairs opened #68 "Source: Amazon SQS"

[2021-10-09 12:14] sdairs opened #69 "Destination: Amazon SQS"

[2021-10-09 12:14] sdairs commented on #69
Will be looking at this

[2021-10-09 12:15] sdairs commented on #68
Will be looking at this

[2021-10-09 12:27] jsrcodes commented on #15
I will work on this!

[2021-10-09 19:22] koskila commented on #37
This looks interesting - as long as you're interested in SharePoint Online (and not Server, i.e. on-prem) I'd be happy to take a shot at this! 😊

[2021-10-10 06:38] mitchealex1 commented on #51
Hey! I'd love to have a go at working on this connector as part of **Hacktoberfest** if that's possible?

[2021-10-10 13:10] geekwhocodes opened #70 "Source: Azure Table Storage"
There is already an issue created earlier here - https://github.com/airbytehq/airbyte/issues/3066
Can I continue it?

[2021-10-10 18:08] avaidyanatha commented on #66
@subhash-kloudio It's yours!

[2021-10-10 18:08] avaidyanatha commented on #67
@foogunlana It's yours!

[2021-10-10 18:09] avaidyanatha commented on #68
@sdairs I'll loop in our team on this. @marcosmarxm can you check this out?

[2021-10-10 18:10] avaidyanatha commented on #70
@geekwhocodes go for it, it's yours!

[2021-10-10 18:13] avaidyanatha commented on #51
@mitchealex1 Absolutely! Go for it :)

[2021-10-10 18:14] avaidyanatha commented on #37
@koskila Yep I believe we're looking for Online! And awesome, it's yours!

[2021-10-10 18:16] avaidyanatha commented on #5
@denimyftiu Nice, it's yours!

[2021-10-10 22:17] maelstorm19 opened #71 "Source: GoCardless"
I want to build this connector

[2021-10-11 01:31] IgliKoxha commented on #35
I'll be working on this!

[2021-10-11 04:27] avaidyanatha commented on #35
@IgliKoxha Nice, it's yours!

[2021-10-11 07:11] monai opened #72 "Source: 3PL Central"
I'll work on this.

For this contest I'll reimplement all https://github.com/singer-io/tap-3plcentral streams using Python HTTP CDK.

[2021-10-11 10:03] tuanchris commented on #33
@avaidyanatha the [Freshsales API](https://developers.freshsales.io/api/#list_all_contacts) requires a request to be made to get a view id before getting the actual data. Do you have a good example of other connectors with a similar requirement?

[2021-10-11 18:26] avaidyanatha commented on #18
@olivermeyer It's yours! Just make sure to follow along and update this issue as you make progress: https://github.com/airbytehq/airbyte/issues/2255

[2021-10-11 19:19] sdairs commented on #69
@tnyz feel free - I have a working implementation of the SQS source, which I was going to use as a base for this when finished - but you're welcome to have at it

[2021-10-12 11:53] 69mb opened #73 "Source: Salesmate"
https://www.salesmate.io

[2021-10-12 17:28] avaidyanatha commented on #73
@69mb Nice, it's yours!

[2021-10-13 06:24] jdbranham commented on #27
Making some progress on this one.
https://github.com/airbytehq/airbyte/compare/master...savantly-net:master

I'm having trouble getting the Elasticsearch docker container running successfully while running the integration tests.
It may be an environment issue on my laptop...

[2021-10-13 06:38] bigdatawonders opened #74 "Source: Drip"
www.drip.com

[2021-10-13 08:46] tuanchris opened #75 "Source: Salesforce Pardot"
@avaidyanatha  I can give this one a go https://github.com/airbytehq/airbyte/issues/2978

[2021-10-14 02:12] burmecia commented on #7
I'll work on this one!

[2021-10-14 03:31] avaidyanatha commented on #7
@burmecia It's yours!

[2021-10-14 04:09] bigdatawonders commented on #74
@avaidyanatha I am going to try build this one myself

[2021-10-14 06:01] avaidyanatha commented on #64
Thanks for the update @itaseskii! Looking forward to seeing it in action.

[2021-10-14 21:10] terencecho opened #77 "Source: Strava"
https://developers.strava.com

Strava API can be used to get stats of an athlete and list of all their activities.

[2021-10-15 20:47] iamzjk opened #78 "Source: Sumo Logic"
Hi @avaidyanatha , would we be interested to have a [Sumo Logic](https://www.sumologic.com/) source connector? I would love to give it a try if we do.

[2021-10-17 16:04] MaxwellJK opened #79 "Source: Opentable"
Connector to pull guests and reservations from Opentable Sync API

[2021-10-19 04:55] tuanchris opened #80 "Source: Monday.com"
@avaidyanatha I can work on this one next

[2021-10-19 18:21] avaidyanatha commented on #78
@iamzjk We would be interested in that! It's yours.

[2021-10-20 20:10] koskila commented on #37
Feel free to pass this on to someone else - the main part (integration to SharePoint Online) is very straightforward, but figuring out how to get everything else to work (using .NET on Docker on Windows) is a bit more than I can take on right now, since the current documentation is geared towards somewhat different scenarios.

I think it's fair to give the opportunity to someone else instead. :)

[2021-10-20 23:48] avaidyanatha commented on #12
Also @grumpy-miner, make sure to evaluate the differences between the Jira source and this source. I'm unsure of the complexity, but there might be some reusable code here. https://docs.airbyte.io/integrations/sources/jira

[2021-10-21 02:17] tuanchris opened #81 "Source: Confluence Cloud"
@avaidyanatha Can I work on this one next?

[2021-10-21 05:58] AlexanderBatoulis opened #82 "Source: Zenloop"

[2021-10-21 07:41] grumpy-miner commented on #12
@avaidyanatha thanks 🙌 .
I'm aware of some differences, as far as I remember the biggest differences are in the fields that Jira api v2 is returning. Endpoints should be more or less similar as for v3 but of course I will investigate it before implementation.

[2021-10-21 17:55] rparrapy opened #83 "Source: Delighted"
Add Delighted source with people, responses, unsubscribes and bounces streams

[2021-10-24 22:42] mmolimar opened #84 "Destination: Apache Pulsar"

[2021-10-26 17:24] #35 closed, assigned to nobody

[2021-10-26 20:09] #77 closed, assigned to nobody

[2021-10-27 07:01] monai opened #85 "Source: Linnworks"
I'll work on this.

I'm going to implement these streams for the hacktoberfest:

- Stock Locations
- Stock Items
- Orders
- Purchase Orders
- Refund Orders

[2021-10-27 18:09] alafanechere opened #86 "Source: OpenWeather"
To get familiar with your CDK I decided to get involved in this Hacktoberfest 🎉 .
I have chosen a simple API which is [OpenWeather's One Call API](https://openweathermap.org/api/one-call-api).
I already opened the PR, ready for review 😃  : https://github.com/airbytehq/airbyte/pull/7434

[2021-10-29 10:40] itaseskii opened #87 "Destination: Redis"
Hey @avaidyanatha I would like to start working on this next :)

[2021-10-29 21:45] avaidyanatha commented on #87
@itaseskii It's yours!

[2021-10-31 17:41] vagrantism commented on #63
Hey guys, I refactored the code to extend `source-file` instead of creating a new source as you asked. Can you please see if it is good for a PR? (Haven't added tests because the `source-files` connector [requires access to some cloud providers](https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/source-file#necessary-credentials-for-tests) ). However, I have built and

[2021-11-01 17:36] Garrettjson commented on #57
@avaidyanatha Still a work in progress. Got stuck, but I'll be taking a look through some of the other PRs to unblock myself. I have some time blocked this week to work on this.

[2021-11-01 23:36] avaidyanatha commented on #63
Hey @marcosmarxm can you take a quick look here at @vagrantism's fork to see if this is good to submit?

[2021-11-01 23:40] avaidyanatha commented on #57
@Garrettjson Cool, sounds good, thanks for the update - let us know in #connector-development on the Slack if you run into any blockers!

[2021-11-02 00:51] #83 closed

[2021-11-02 00:52] #67 closed

[2021-11-02 01:57] #27 closed

[2021-11-02 12:48] rparrapy opened #88 "Source: Algolia"
Supported Streams:

- Usage statistics per index: https://www.algolia.com/doc/rest-api/usage/
- Search analytics per index: https://www.algolia.com/doc/rest-api/analytics/#search-analytics (this will actually end up being multiple streams, one per endpoint)

[2021-11-02 19:14] avaidyanatha commented on #52
@marcosmarxm https://github.com/airbytehq/airbyte/pull/5887 closes this right?

[2021-11-02 19:14] avaidyanatha commented on #88
@rparrapy It's yours!

[2021-11-02 19:17] avaidyanatha opened #89 "Source: xkcd"
https://xkcd.com/json.html

[2021-11-02 19:18] avaidyanatha opened #90 "Source: Wikipedia"
https://wikitech.wikimedia.org/wiki/Analytics/AQS/Pageviews

[2021-11-02 19:20] avaidyanatha opened #91 "Source: Public APIs"
https://api.publicapis.org/

It's a bit meta...

[2021-11-03 04:07] #33 closed

[2021-11-04 10:53] tuanchris commented on #56
@avaidyanatha I can give this one a go

[2021-11-04 12:58] koji-m commented on #30
I've completed https://github.com/airbytehq/hacktoberfest-2021/issues/9 , so can I work on this one?

[2021-11-04 17:11] avaidyanatha commented on #56
@tuanchris You are too quick! Nice work.

[2021-11-04 17:11] avaidyanatha commented on #30
@koji-m yep, it's yours!

[2021-11-04 21:04] itaseskii commented on #87
The Redis destination connector has been submitted for review https://github.com/airbytehq/airbyte/pull/7653 :)

[2021-11-04 21:09] itaseskii opened #92 "Destination: Kinesis"
Hey @avaidyanatha I would like to continue working on this next :)

[2021-11-04 21:12] avaidyanatha commented on #92
It's yours!

[2021-11-05 08:17] janiek commented on #18
@olivermeyer do you have any update on this one?

[2021-11-05 12:31] olivermeyer commented on #18
I have a working connector with most tests passing. It's only full refresh for now, which might cause performance issues when dealing with very large indexes, but I'm not sure I'll have time to implement the incremental feature before the end of the hacktober. I'll push in the next few days.

[2021-11-05 17:50] vagrantism commented on #63
Hey guys, any news? I want to get started on another connector too! :)

[2021-11-05 18:24] marcosmarxm commented on #63
@vagrantism please submit the PR in the main project so we can review/advise you.
Did you add this file to test your connector?

[2021-11-06 01:16] mmolimar commented on #84
Merged @avaidyanatha !

[2021-11-06 11:08] vagrantism commented on #63
Done! https://github.com/airbytehq/airbyte/pull/7705
I haven't added the file, but i used it for testing the connector.

[2021-11-06 22:15] goldfrapp04 opened #93 "Destination: Scalyr"
### What

[Scalyr](https://www.scalyr.com/) is a blazingly fast and hyper-scalable Event Data Cloud (EDC). We started as a logging/observability tool, but the core technology is so adaptive and solid that we're constantly adding ways to bring more data sources into the platform and exploring new use cases.

### Why

- AirByte will be a valuable integration for Scalyr EDC (I hope it'll become true

[2021-11-07 00:57] goldfrapp04 commented on #93
I would like to work on this one, obviously!

[2021-11-07 12:18] szecsip commented on #28
@avaidyanatha Have you got any plan to Power BI destination connector? Do you wish to have ability to put data into Power BI's push dataset?

[2021-11-07 19:17] mmolimar opened #94 "Destination: MQTT"

[2021-11-07 19:18] mmolimar commented on #94
I'll work on this one!

[2021-11-09 00:12] szecsip commented on #28
I'm working on this one

[2021-11-09 00:53] #9 closed

[2021-11-09 00:53] #64 closed

[2021-11-09 00:53] #66 closed

[2021-11-09 00:53] #80 closed

[2021-11-11 16:37] jacqueskpoty opened #95 "Source: CommerceTools"
https://github.com/airbytehq/airbyte/pull/5957

@avaidyanatha This Connector Has been Developed and Merged.

[2021-11-11 16:39] jacqueskpoty commented on #95
airbytehq/airbyte#5955

[2021-11-11 16:45] jacqueskpoty opened #96 "Source: WooCommerce"
https://github.com/airbytehq/airbyte/pull/5955

@avaidyanatha This PR is merged and closed

[2021-11-11 17:02] jacqueskpoty opened #97 "Source: BigCommerce"
https://github.com/airbytehq/airbyte/pull/5521

@avaidyanatha This connector is merged and PR is closed

[2021-11-11 20:29] adayNU commented on #34
Was referred to https://www.pendo.io/partners/ - filled it out and waiting to hear back

[2021-11-12 00:44] avaidyanatha commented on #34
Thanks for the update @adayNU!

[2021-11-12 00:56] avaidyanatha commented on #95
Awesome. Thanks for your work on this @jacqueskpoty!

[2021-11-12 00:56] #95 closed

[2021-11-12 01:10] avaidyanatha commented on #96
Awesome, nice work @jacqueskpoty!

[2021-11-12 01:10] #96 closed

[2021-11-12 10:21] ameyabapat-bsft commented on #90
I will work on it.

[2021-11-12 10:22] ameyabap commented on #90
I will work on it.

[2021-11-16 20:35] avaidyanatha commented on #90
It's yours @ameyabap!

[2021-11-18 21:39] marcosmarxm commented on #7
thanks @burmecia

[2021-11-18 21:39] #7 closed

[2021-11-18 21:39] marcosmarxm commented on #65
Done

[2021-11-18 21:39] #65 closed

[2021-11-18 21:40] #70 closed

[2021-11-25 03:04] #81 closed

[2021-11-25 03:04] #75 closed

[2021-12-02 03:24] subhash-kloudio commented on #66
Any news on the promised bounty? :-)

[2021-12-07 21:15] marcosmarxm commented on #66
@subhash-kloudio can you send a message to @avaidyanatha in our Slack channel?

[2021-12-07 21:15] #52 closed

[2022-01-13 13:00] fabform commented on #26
Handy to [find google sheet id](https://fabform.io/a/how-to-find-google-sheet-id)

[2022-01-13 18:55] #97 closed

[2022-01-13 18:56] #84 closed

[2022-01-13 18:56] #85 closed

[2022-01-13 18:56] #86 closed

[2022-01-13 18:56] #82 closed

[2022-01-13 18:56] #87 closed, assigned to nobody

[2022-01-13 18:56] #31 closed

[2022-05-24 09:55] moon03432 commented on #18
@olivermeyer any updates for now?

[2022-09-29 17:56] sarafonseca-123 commented on #89
I would like to work on this one!

[2022-09-30 20:02] danthelion commented on #40
I'll take this one

[2022-10-01 06:56] andresbravog commented on #91
I can take this one, seems like a simple 2-4 endpoints with no authentication source right? Maybe a good use case for the Low code CDK.

[2022-10-01 13:50] koconder commented on #48
I'll take this one :)

[2022-10-01 15:05] koconder commented on #54
New API requests are closed https://developer.doordash.com/en-US/docs/marketplace/overview/about_marketplace

[2022-10-01 15:09] koconder commented on #47
I'll take this one

[2022-10-01 15:13] koconder commented on #21
I'll take this one

[2022-10-02 06:32] MinuraPunchihewa commented on #8
Hey @avaidyanatha, I would love to work on this issue!

[2022-10-02 22:48] vickywane commented on #71
Hi @avaidyanatha any update on this?

I’d like to give it a shot for Hacktoberfest

[2022-10-03 10:55] rhaegar2803 opened #101 "Destination: YugabyteDB"
To kick things off I would like to start working on a destination connector for YugabyteDB an increasingly popular distributed database that is Postgres/SQL compatible https://www.yugabyte.com/

[2022-10-03 19:49] rhaegar2803 commented on #48
@koconder the hacktoberfest [guidelines](https://github.com/airbytehq/connector-contest/blob/main/GUIDELINES.md) are stating that you can only be working on one connector at a time. Please consider self-assigning issues one at a time in order to not block multiple issues at the same time.

[2022-10-04 07:06] kachontep opened #103 "Source: Trino"
I would like to develop Airbyte source connector with Hive, Presto (or Trino) using PyHive (Python). Let me know if it already exists or there is an alternative connector which can be applied with this use case.

[2022-10-04 12:21] RobLucchi opened #104 "Source: Clockify"
API Docs: https://clockify.me/developers-api
@avaidyanatha I would like to work on this

[2022-10-04 14:20] koji-m commented on #20
Could you tell me which Firebase product is this Connector specifically about?
Cloud Firestore(https://firebase.google.com/products/firestore), Firebase Realtime Database(https://firebase.google.com/products/realtime-database) or something else?

[2022-10-04 20:28] cirdes opened #105 "Destination: MeiliSearch"
current version of meilisearch is not working due API changes on authorization header https://github.com/airbytehq/airbyte/issues/13076

[2022-10-04 20:28] cirdes commented on #105
I would like to work on this!

[2022-10-04 20:37] RealChrisSean commented on #103
Go for it! :D

[2022-10-04 20:39] RealChrisSean commented on #104
I have assigned the ticket to you. Good luck! :)

[2022-10-04 20:43] RealChrisSean commented on #105
Go for it. The ticket has been assigned to you :)

[2022-10-04 21:27] josix opened #106 "Source: ClickUp"
I would like to work on this https://clickup.com/api/developer-portal/postman/

[2022-10-05 01:07] girardb opened #107 "Source: Guild Wars 2"
Docs: https://wiki.guildwars2.com/wiki/API:Main

https://api.guildwars2.com/

I would like to work on this one!

[2022-10-05 21:12] RealChrisSean commented on #106
This has been assigned to you :)

[2022-10-05 21:12] RealChrisSean commented on #107
Go for it! :)

[2022-10-05 21:28] RealChrisSean commented on #91
This has been assigned to you :)

[2022-10-05 21:38] RealChrisSean commented on #21
@koconder please remember that you only allowed to work on one connector at a time :).

[2022-10-05 21:38] RealChrisSean commented on #47
@koconder please remember that you only allowed to work on one connector at a time :).

[2022-10-05 21:39] RealChrisSean commented on #71
Yes please go for it @vickywane :)

[2022-10-05 21:40] RealChrisSean commented on #8
@MinuraPunchihewa go for it :)

[2022-10-05 21:41] RealChrisSean commented on #40
@danthelion, this has been assigned to you. Good luck!

[2022-10-05 21:42] RealChrisSean commented on #89
@sarafonseca-123 itis yours :)

[2022-10-05 22:27] koconder commented on #47
@RealChrisSean I’ll remove myself from the others. The Genesys one is done so I’ll only make sure I’m active on one and the others iI’ll remove. Sorry about this.

[2022-10-05 22:27] koconder commented on #47
@RealChrisSean I’ll work on this one next. I’ll drop the other ones.

[2022-10-05 22:28] koconder commented on #48
PR pending review, submitted. Jumping on the next connector. @rhaegar2803 I’ll be conscious of this. Appologies

[2022-10-05 22:28] koconder commented on #21
@RealChrisSean all good. As per the other one i have dropped the others. Genesys is done and jumping onto Google My Business now

[2022-10-06 23:39] RealChrisSean opened #109 "New Source: Braze"
https://www.braze.com/docs/developer_guide/home

[2022-10-06 23:41] RealChrisSean opened #110 "New Source: Railz"
https://docs.railz.ai/docs

[2022-10-06 23:42] RealChrisSean opened #111 "New Source: Zoom"

[2022-10-06 23:44] RealChrisSean opened #112 "New Source: InStatus"

[2022-10-06 23:45] RealChrisSean opened #113 "New Source: Moengage"
https://developers.moengage.com/hc/en-us

[2022-10-06 23:46] RealChrisSean opened #114 "New Source: Qualtics"
https://github.com/airbytehq/airbyte/issues/2124

[2022-10-06 23:47] RealChrisSean opened #115 "New Source: Gorgias"
https://github.com/airbytehq/airbyte/issues/2940

[2022-10-06 23:47] RealChrisSean opened #116 "New Source: Dremio"
https://github.com/airbytehq/airbyte/issues/9031

[2022-10-07 05:26] adi-uchiha commented on #116
Would love to work on this... Can u guide me further

[2022-10-07 07:06] AP2008 commented on #112
I would like to work on this. Please assign it to me.

[2022-10-07 07:08] sohailgi commented on #115
I would like to work on this. I am completely a newbie,can you help me with this?

[2022-10-07 08:20] subhamX commented on #111
Hi @RealChrisSean, could you please share what data specifically we want to import from the `Zoom Source`?

[2022-10-07 08:29] subhamX opened #117 "New Source: GraphQL API"
It is one of the popular connectors requested by around 180+ folks. (Ref: https://airbyte.com/connector-requests).

I think we should support all the standard GraphQL Object fields, namely the following: (Ref: https://graphql.org/learn/schema/)
[code]

In short, the user needs to specify the custom graphql query, frequency of data fetch, and the graphql server's endpoint.

I'm not sure about the *

[2022-10-07 11:15] VoidCupboard commented on #114
Can I work on this issue?

[2022-10-07 15:27] Azanul commented on #53
I'd like to work on this

[2022-10-07 17:04] RealChrisSean commented on #112
This has been assigned to you :)

[2022-10-07 17:06] RealChrisSean commented on #53
This has been assigned to you :)

[2022-10-07 17:07] RealChrisSean commented on #114
yes! This has been assigned to you @VoidCupboard

[2022-10-07 17:30] RealChrisSean commented on #116
Hello @adi-uchiha we have a getting started guide [here](https://docs.airbyte.com/connector-development/config-based/tutorial/getting-started).

We also have a [video tutorial ](https://www.youtube.com/watch?v=i7VSL2bDvmw) that you can watch. Part 2 will go live on Monday :).

If you join our slack channel, two of our engineers are offering 30-minute sessions every week (during hacktober) to help

[2022-10-07 17:32] RealChrisSean commented on #115
Hello @sohailgi we have a getting started guide [here](https://docs.airbyte.com/connector-development/config-based/tutorial/getting-started).

We also have a [video tutorial ](https://www.youtube.com/watch?v=i7VSL2bDvmw) that you can watch. Part 2 will go live on Monday :).

If you join our slack channel, two of our engineers are offering a 30-minute 1-on-1 session every week (during hacktober) to

[2022-10-07 18:00] chandanpatra2111 commented on #111
Hi @RealChrisSean ,could you please provide the description?

[2022-10-07 19:28] RealChrisSean commented on #117
Hey @subhamX this looks great! Just to confirm you will attempt this with our [low-code cdk](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/)? :)

[2022-10-07 20:09] RealChrisSean commented on #20
Hi @koji-m you could potentially make a source connector for both :). You should be able to create the source connector using our new [low-code cdk](https://docs.airbyte.com/connector-development/config-based/). Did you want to give that one a try?

[2022-10-07 20:12] RealChrisSean commented on #101
This has been assigned to you :). If you haven't started yet you may be able to use our new[ low code cdk](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) to build this. Here's the link if you want to check it out :)

[2022-10-07 20:13] #54 closed

[2022-10-07 21:21] #72 closed

[2022-10-07 21:26] YowanR commented on #111
@misteryeo Can you help here? I can't access the original asana task. The best I have right now is this: https://github.com/airbytehq/airbyte/issues/3696.

[2022-10-07 21:31] itaseskii commented on #101
Hey @RealChrisSean I'm aware of the low code cdk since I was part of the early access program. The connector that I'm building is a destination connector and it uses a jdbc compliant driver something for which the low code cdk is not targeted towards.

[2022-10-07 21:32] RealChrisSean commented on #62
not low code compatible

[2022-10-07 21:35] RealChrisSean commented on #61
Not low-code compatible.

[2022-10-07 21:35] #61 closed

[2022-10-07 21:36] RealChrisSean commented on #60
Not low-code compatible.

[2022-10-07 21:36] #60 closed

[2022-10-07 21:37] RealChrisSean commented on #59
Not low-code compatible

[2022-10-07 21:37] #59 closed

[2022-10-07 21:38] RealChrisSean commented on #58
Not low-code compatible

[2022-10-07 21:38] #58 closed

[2022-10-07 21:44] YowanR commented on #111
Hello everyone! Let me try to bring a little bit of clarity and direction here. We would ideally want to have parity with the docs described [here](https://docs.airbyte.com/integrations/sources/zoom/). Does this make sense? This connector was originally Singer-based but now, we want to move it to our low-code framework and it seems easier to write it from scratch than migrate it. Original code can

[2022-10-07 21:44] RealChrisSean commented on #57
Not low-code compatible

[2022-10-07 21:44] #57 closed

[2022-10-07 21:45] #56 closed

[2022-10-07 21:46] RealChrisSean commented on #51
Not low-code compatible

[2022-10-07 21:46] #51 closed

[2022-10-07 21:49] RealChrisSean commented on #50
Not low-code compatible

[2022-10-07 21:49] #50 closed

[2022-10-07 21:57] RealChrisSean commented on #45
Not low-code compatible

[2022-10-07 21:57] #45 closed

[2022-10-07 22:07] RealChrisSean commented on #5
Not low-code compatible

[2022-10-07 22:07] #5 closed

[2022-10-07 22:09] #69 closed

[2022-10-07 22:16] #26 closed

[2022-10-07 22:17] RealChrisSean commented on #15
completed

[2022-10-07 22:17] #15 closed

[2022-10-07 22:49] sw-yx commented on #20
eventually we'll want both, but suggest starting with Realtime database as that is the older one?

- RTDB: https://firebase.google.com/docs/reference/rest/database
- Firestore: https://firebase.google.com/docs/firestore/use-rest-api

[2022-10-08 00:47] koji-m commented on #20
Thank you for you reply. I'll work on Source Realtime Database first.

[2022-10-08 07:37] Atharvat commented on #110
@RealChrisSean
I am willing to work on this issue.

[2022-10-08 08:07] josix commented on #117
This would be really helpful for the usage of Graph API. Looking forward to it!

[2022-10-08 08:30] adi-uchiha commented on #116
@RealChrisSean sure. I look forward towards learning and working on this. Thanks for the reference.

[2022-10-08 10:04] evwltrs commented on #90
I'll take this :). Confirm it's just for the page views endpoint?

[2022-10-08 11:13] subhamX commented on #117
@RealChrisSean;

I don't think it's possible to do it with low-code cdk. I think we need to have schema (aka catalog) of the data source to use the `low-code cdk`. But here, we're building a solution for all the servers, so we don't know beforehand.

Is it possible to define the AirbyteCatalog dynamically? (I think the CDK was never meant for this purpose.) Also, it will be prone to errors.

Feel

[2022-10-08 11:14] subhamX commented on #111
@RealChrisSean may I take this issue? It will help me gain better insights into the low-code cdk. I do have [another issue assigned](https://github.com/airbytehq/connector-contest/issues/117), but we're still missing some clarity with the approach. Let me take this one meanwhile?

[2022-10-08 13:59] deveshchatuphale7 commented on #109
Hey @RealChrisSean I would like to work on this one

[2022-10-08 14:42] sjha2048 commented on #113
I would like to pick this up

[2022-10-08 15:06] Prodyte commented on #22
I'll work on this one.

[2022-10-08 16:01] RealChrisSean commented on #22
Awesome! This has been assigned to you :). Good luck!

[2022-10-08 16:01] RealChrisSean commented on #113
Awesome! Good luck :)

[2022-10-08 16:02] RealChrisSean commented on #109
Excellent good luck @deveshchatuphale7!

[2022-10-08 16:02] RealChrisSean commented on #111
Sure go for it @subhamX :). Good luck!

[2022-10-08 16:03] RealChrisSean commented on #117
Yes of course. Thanks for asking in advance. :)

[2022-10-08 16:04] RealChrisSean commented on #90
@evwltrs yup :)

[2022-10-08 16:04] RealChrisSean commented on #116
Excellent good luck @adi-uchiha :).

[2022-10-08 16:06] RealChrisSean commented on #20
Good luck! :)

[2022-10-08 16:07] RealChrisSean commented on #101
You are correct. I totally missed this was a destination. Good luck with this one! :)

[2022-10-08 18:01] parinzee opened #118 "New Source: Azure Blob Storage"
This is also a very popular connector that has been requested by a lot of people [here](https://airbyte.com/connector-requests).

I believe the implementation would be quite similar to the **[AWS S3 connector](https://github.com/airbytehq/airbyte/tree/master/airbyte-integrations/connectors/destination-s3)**!

If you guys accept this, please assign me the issue and I'll take it on right away. I thi

[2022-10-08 18:23] itaseskii commented on #20
There is already one PR opened for a Firestore source connector which might worth looking into  https://github.com/airbytehq/airbyte/pull/15595

[2022-10-09 05:09] YiyangLi commented on #34
I'll work on this one!

[2022-10-09 05:10] YiyangLi opened #119 "New Source: Auth0"
I'll work on this one!

[2022-10-09 06:06] koji-m commented on #20
Thank you for your advice. I'll refer it.

[2022-10-09 07:25] Rahul-Kumar-prog commented on #49
Hello i would like to work on this

[2022-10-09 11:48] masyagin1998 opened #120 "New source: Google Play"
Hello, Airbyte!

I'd like to work on Google Play connector, which can sync selected app reviews.
It supports filtering by languages and countries of reviews and can work in full refresh/natural increment modes.

It doesn't need any API Key, because it uses direct Google Play website with little parsing.
I've talked about it here https://airbyte.com/blog/how-airbytes-reliable-ready-to-use-data-pipe

[2022-10-09 11:50] masyagin1998 opened #121 "New source: AppStore"
Hello, Airbyte!

I'd like to work on AppStore connector, which can sync selected app reviews.

In fact I'm going to write two AppStore connectors: one for RSS and one for AMP API. First is fast and incremental but has limits: no more than 500 last records. Second is slow and can't work in natural incremental mode but is able to sync all AppStore reviews.

I've talked about it here https://airbyte.

[2022-10-09 11:52] masyagin1998 opened #122 "New source: Trustpilot"
Hello, Airbyte!

I'd like to work on Trustpilot connector, which can sync selected company reviews and tickets.
I can add additional streams, if they are needed right now for contest.

It doesn't need any API Key, because it uses direct Trustpilot website with little parsing.
I've talked about it here https://airbyte.com/blog/how-airbytes-reliable-ready-to-use-data-pipelines-sped-up-anecdotes-laun

[2022-10-09 13:01] masyagin1998 commented on #122
@misteryeo
You said in Slack that I can tag You, when I start to work on connectors.

[2022-10-09 13:01] masyagin1998 commented on #121
@misteryeo
You said in Slack that I can tag You, when I start to work on connectors.

[2022-10-09 13:01] masyagin1998 commented on #120
@misteryeo
You said in Slack that I can tag You, when I start to work on connectors.

[2022-10-09 14:16] kwebster77 commented on #1
Would like to work on this one!

[2022-10-09 16:14] Prodyte commented on #22
I have requested API access from crossKnowledge, it may take a few weeks. Meanwhile, can I work on another one?

[2022-10-09 16:29] coder46 opened #123 "New source: Status Hero"
Hi Airbyte !

I'd like to make a connector for Status Hero (https://statushero.com/). This tool is used by remote dev teams to record daily check-ins/standups.

I'll probably first support the `statuses` endpoint which I think can be used as part of a pipeline that runs at the end of a day and enables the user to "download" status updates for their team and do some post-processing on it

[2022-10-09 16:29] sjha2048 commented on #113
Hey @RealChrisSean I explored MoEngage APIs today and all the APIs to retrieve data in zip format and on CDKs development website I saw this as a requirement

I wanted to ask if this would be feasible or not.

[2022-10-09 16:37] RealChrisSean commented on #22
Yes of course :). Thanks for letting us known! 🙏

On Sun, Oct 9, 2022 at 9:14 AM Pawan ***@***.***> wrote:

[2022-10-09 20:38] misteryeo commented on #120
In future, can you please tag @RealChrisSean please @masyagin1998!

Just curious, why do you think it would be easier to implement with the Python HTTP Source SDK?

[2022-10-09 20:39] misteryeo commented on #121
Looping in @RealChrisSean.

@masyagin1998 how is this different from the Appstore connector we already have today: https://docs.airbyte.com/integrations/sources/appstore/?

[2022-10-09 20:41] misteryeo commented on #122
Please tag @RealChrisSean in future.

Similar to your other issue, why would it be easier to implement it with Python HTTP Source SDK? Is there a technical reason on this?

[2022-10-09 20:49] masyagin1998 commented on #120
Okay, I'll tag him in next messages not You (just tagged You because of our talk in direct messages in Slack on 7th September).

I think usage of Python HTTP Source SDK is easier, because I need to process raw HTMLs and it can't be done easily with Low-code SDK

[2022-10-09 20:50] masyagin1998 commented on #120
I won't write in other issues to skip next possible message duplicates

[2022-10-09 21:15] masyagin1998 commented on #121
Current AppStore connector gives ability to track and save private App information like Sales, Subscriptions etc.
I'm talking about public information like reviews, scores etc.

[2022-10-09 21:30] alrz1999 opened #124 "Destination: CockroachDB"
I'll work on this one!

[2022-10-09 22:03] michizhou commented on #3
Hi @RealChrisSean, would it be alright if I take on this issue?

[2022-10-10 03:45] mmolimar opened #125 "New Source: Datadog"
Hey!

I'd like to start building a source connector for [Datadog](https://docs.datadoghq.com/api/latest/).

[2022-10-10 07:24] parinzee commented on #118
@RealChrisSean For extra technical information, I will try to use the low-code CDK first, since it looks really cool, but if that doesn't work I'll divert to the Python CDK!

Thank you for your time!

[2022-10-10 08:30] alexchouraki opened #126 "New Source : Zendesk Sell"
Hello!

I'd like to build a source connector for [Zendesk Sell](https://developer.zendesk.com/api-reference/sales-crm/introduction/).

[2022-10-10 09:06] sbrickel-nimble opened #127 "New source: Waiteraid"
Hi Airbyte,

I require a connector for Waiteraid, a booking system for restaurants.
The extracted data (table reservation, customer data, etc) will be helpful for optimization and marketing purposes.

[2022-10-10 14:07] RealChrisSean commented on #127
Excellent! This issue has been assigned to you :)

[2022-10-10 14:07] RealChrisSean commented on #126
Perfect! This has been assigned to you :)

[2022-10-10 14:08] RealChrisSean commented on #125
Nice! Good luck! This has been assigned to you.

[2022-10-10 14:10] RealChrisSean commented on #123
Go for it! This has been assigned to you.

[2022-10-10 14:13] RealChrisSean commented on #122
Good question @misteryeo. @masyagin1998 this will be easier to do with our low-code cdk since this may not require an API key. You can check out our docs [here](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/). But please try this using our low-code cdk for this hacktoberfest :).

Here is a helpful [tutorial](https://www.youtube.com/watch?v=i7VSL2bDvmw) as well.

[2022-10-10 14:14] RealChrisSean commented on #122
@masyagin1998 I have also assigned this ticket to you.

[2022-10-10 14:15] masyagin1998 commented on #122
@RealChrisSean
Thank You!

[2022-10-10 14:16] RealChrisSean commented on #121
Hello @masyagin1998 sounds good. Please work on one connector at time (per [guidelines](https://airbyte.com/connector-contest)). The other one will be easier to work on so maybe work on that one first? :) Please tag me when you start working on this one so that I can assign this issue to you later. Thanks! :)

[2022-10-10 14:18] RealChrisSean commented on #119
Awesome! This has been assigned to you :)

[2022-10-10 14:18] RealChrisSean commented on #118
Perfect! Good luck on this! :)

[2022-10-10 14:21] RealChrisSean commented on #113
This is a good question. I dont think this will work with the low-code cdk. I totally missed that. The python cdk might be best for this. Sorry about that.

[2022-10-10 15:34] misteryeo commented on #121
@masyagin1998 I'd like to encourage you to build the low code CDK version of the **existing AppStore connector** and then adding the missing functionality you've described. We'd want to have a single connector with expanded functionality rather than having separate connectors. Would that work?

[2022-10-10 15:37] misteryeo commented on #1
@kwebster77 apologies, this issue is no longer relevant because we just released Netsuite to alpha already. Would you like to pick another connector?

cc: @RealChrisSean as an FYI

[2022-10-10 15:37] #1 closed

[2022-10-10 15:50] rytismi opened #128 "New Source: Mailerlite"
Hello,

I'd like to build a connector for [Mailerlite](https://developers.mailerlite.com/).

[2022-10-10 16:26] sohailgi commented on #115
I want more help into this,I've messaged you on slack

[2022-10-10 17:23] RealChrisSean commented on #34
Awesome this has been assigned to you. :)

[2022-10-10 18:40] NoelJacob opened #130 "New Source: Youtube"
Get data and statistics from your channel. I would like to work on this.

[2022-10-11 01:38] albert-marrero commented on #11
@GreeneWoods and I will work on this one! @

[2022-10-11 08:22] Rahul-Kumar-prog commented on #130
Hey @NoelJacob, Rahul this side actually I was exploring connectors and learned about them and now I would like to contribute to building connectors. I saw that all connectors are assigned if you don't mind can i work on this issue and create a youtube connector? i really want to working on it.
or, we both can work together on it? if you don't mind.

[2022-10-11 08:27] NoelJacob commented on #130
@Rahul-Kumar-prog  Sorry, I've started and am in the middle of it. I'm looking for an official go ahead from @RealChrisSean

[2022-10-11 13:08] NightHack36 commented on #29
can you assign me please

[2022-10-11 13:09] NightHack36 commented on #13
can you assign me please and explian please, how to work on this issue

[2022-10-11 14:30] delenamalan commented on #6
Any specific SAP APIs you're looking to target?

[2022-10-11 14:55] elliottrabac opened #131 "New Source: Ashby"
Hi Airbyte!

I'd like to make a connector for Status Ashby (https://developers.ashbyhq.com/reference/introduction).
This tool is an ATS platform used by many companies.

Can I work on it in for the contest?

[2022-10-11 15:07] Dynnammo commented on #117
At my company, we would be very interested to develop a connector for the GraphQL of our OSS software (source code [here](https://github.com/decidim/decidim)). If it seems consistent, we have some time to work on it in the next weeks, and would be glad to help on a draft PR.

[2022-10-11 15:15] ctrlaltdylan opened #132 "New Source: Shopify Partner"
There's an existing Shopify connector, but not for the separate Shopify Partner API. This API is available to Shopify app developers, theme designers and Experts.

https://shopify.dev/api/partner

[2022-10-11 15:15] ctrlaltdylan commented on #132
I've written the Shopify Partner connector for Pipedream, would like to try my hand at building an Airbyte connector :)

[2022-10-11 15:30] subhamX commented on #117
That's awesome @Dynnammo;

I'm currently working on #111 and in case you want, feel free to take lead on this issue. (I will be hanging around though. 😉)

1. I think we should ask the user for `graphql server URL`.
2. Then, run an introspection query to get all the schemas.
3. We will have a one-on-one mapping from `schemas (graphql)` to `streams (airbyte)`.
4. Finally ask the user to select which

[2022-10-11 15:52] hntan opened #133 "New Source: Gridly"
Hi Airbyte team!
I'm a java backend developer, I'm currently working for [Gridly](https://www.gridly.com/). I would like to add Gridly as a new source connector.

[2022-10-11 15:59] RealChrisSean commented on #132
Hello @ctrlaltdylan this has been assigned to you. Go for it and good luck! :D

[2022-10-11 16:09] RealChrisSean commented on #130
@NoelJacob this has been assigned to you :D.

[2022-10-11 16:10] RealChrisSean commented on #25
Hello, @NightHack36 that has been assigned to you. Good luck!

[2022-10-11 16:11] RealChrisSean commented on #29
Hello @NightHack36, I have assigned another ticket to you. Please work on only one connector at a time :D.

[2022-10-11 16:12] RealChrisSean commented on #13
Hello @NightHack36, I assigned one ticket to you before this. Please work on one connector at a time. Thank you :D

[2022-10-11 16:12] RealChrisSean commented on #6
Up to you :D @delenamalan

[2022-10-11 16:12] RealChrisSean commented on #131
Yes go for it! :D Good luck @elliottrabac!

[2022-10-11 16:15] RealChrisSean commented on #117
You are so kind @subhamX!  @Dynnammo can you please confirm if you can take this issue and complete it before the hackathon deadline on 11/02/22? :D. I will assign it to you if so. Thanks!

[2022-10-11 16:16] RealChrisSean commented on #133
Go for it! Good luck @hntan! :D

[2022-10-11 16:17] RealChrisSean commented on #122
Labels have been added thank you :D

[2022-10-11 16:24] RealChrisSean commented on #115
@sohailgi did you get the help you need? :)

[2022-10-11 16:25] RealChrisSean commented on #128
Go for it. Good luck @rytismi :D

[2022-10-11 16:25] RealChrisSean commented on #3
Hi @michizhou sorry for the late reply. Go for it! :D

[2022-10-11 16:26] RealChrisSean commented on #120
This has been assigned to you :D

[2022-10-11 16:26] RealChrisSean commented on #49
Hello @Rahul-Kumar-prog this has been assigned to you :D

[2022-10-11 21:34] delenamalan commented on #6
Thank @RealChrisSean, but I'd rather work on #19 for now please :)

[2022-10-11 21:34] delenamalan commented on #19
Me please :)

[2022-10-11 22:45] RealChrisSean commented on #6
Noted! :)

On Tue, Oct 11, 2022 at 4:35 PM Delena Malan ***@***.***>
wrote:

[2022-10-12 02:54] makalaaneesh opened #134 "New Destination: SingleStoreDB"
[SingleStore](https://www.singlestore.com/) is an HTAP database.

Would like to work on this as part of hacktoberfest!

[2022-10-12 05:45] eigengravy opened #135 "New Source: Anilist"
[Anilist](https://anilist.co/)
[Anilist Developer Docs](https://anilist.gitbook.io/anilist-apiv2-docs/)
Is there support for GraphQL based APIs?

[2022-10-12 05:48] jay-tau opened #136 "New Source: Trakt"
Using [Trakt](https://trakt.tv) as a source for Airbyte.

[2022-10-12 05:52] jay-tau opened #137 "New Source: TMDb"
I would like to work on this

[2022-10-12 05:56] eigengravy opened #138 "New Source: OMDb"
I would like to work on this

[2022-10-12 09:14] Dynnammo commented on #117
Honestly, doing the all thing in 1 month seems short, starting from scratch as for me. However, since we're condemned to do it in our business, don't hesitate to assign me anyway, I'll see if we can speed up by peer-working on it with @subhamX .

[2022-10-12 15:29] marcosmarxm commented on #136
Do you want me to assign this to you @jay-tau ?

[2022-10-12 15:29] marcosmarxm commented on #138
I assignee to you!

[2022-10-12 15:31] marcosmarxm commented on #135
btw amazing suggestion!

[2022-10-12 18:15] RealChrisSean commented on #19
Hi @delenamalan this has been assigned to you :D

[2022-10-12 18:16] RealChrisSean commented on #137
Hello @jay-tau this has been assigned to you.

[2022-10-12 18:19] RealChrisSean commented on #117
Good luck! I will assign this to both of you :)

[2022-10-12 18:19] RealChrisSean commented on #117
Good luck! I will assign this to both of you :)

[2022-10-12 19:29] RealChrisSean commented on #135
@eigengravy did you plan on working on this issue? :)

[2022-10-12 21:10] CapedBaldie opened #139 "New Source : IMDb"

[2022-10-12 21:10] CapedBaldie commented on #139
I would like to work on this.

[2022-10-12 21:58] jrhizor opened #140 "New Source: Whisky Hunter"
https://whiskyhunter.net/api/

[2022-10-12 21:58] jrhizor commented on #140
I'll work on this.

[2022-10-13 00:57] imrehg opened #141 "New Source: Monzo"
An UK neobank. API docs: https://docs.monzo.com/

[2022-10-13 04:42] CapedBaldie opened #142 "New Source: Last.fm"
I would like to work on this.

[2022-10-13 06:27] Rahul-Kumar-prog commented on #130
@NoelJacob no worry its ok

[2022-10-13 13:32] RealChrisSean commented on #142
Hi @CapedBaldie this has been assigned to you. Good luck!

[2022-10-13 13:32] RealChrisSean commented on #141
Hello @imrehg this has been assigned to you. Good luck!

[2022-10-13 13:34] RealChrisSean commented on #139
Hi @CapedBaldie this has been assigned to you.

[2022-10-13 16:51] masyagin1998 commented on #121
@misteryeo Yeah, I think, it should work!
Try to do it right after completing Trustpilot connector.

[2022-10-14 03:39] pabloescoder opened #143 "New Source: Gutendex"
Web-API for fetching Books' Metadata from the Project Gutenberg Books Library
API Docs: https://gutendex.com/

I would like to work on this!

[2022-10-14 15:46] blarghmatey opened #144 "Destination: S3"
The S3 destination is very useful as a component in building a data lake, but in order to make it usable in a lakehouse style architecture it is missing integration with the metastore for whichever query engine(s) power the SQL interface. For AWS that is likely to be the Glue data catalog, but the other targets would include the Apache Hive Metastore or Nessie. It would be massively helpful to int

[2022-10-14 17:03] itaseskii commented on #144
Hey @blarghmatey Is an explicit integration from the connector necessary for updating the metastore? From initial reading it seems that AWS Glue has schema inferring jobs that can be scheduled to crawl the s3 data and update the catalog after which the data can be read, parsed and queried?

[2022-10-14 18:40] blarghmatey commented on #144
Thank you for the question. While Glue does have the option to use a crawler to populate that schema information, there are  couple of primary issues that come out of that.

- The most immediate one is that until the crawler has completed its run, the data in S3 cannot be queried in the event of a fresh sync. If the data is already registered in the metastore but the schema changed, you again have

[2022-10-14 21:05] RealChrisSean commented on #144
Hi @blarghmatey did you want me to assign this ticket to you?

[2022-10-14 21:06] RealChrisSean commented on #143
Excellent! This has been assigned to you :). Will you be using the low-code cdk for this?

[2022-10-14 21:07] RealChrisSean commented on #130
Hi @NoelJacob will you be using the [low-code cdk ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :)

[2022-10-14 21:08] RealChrisSean commented on #142
Hi, @CapedBaldie will you use the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :)

[2022-10-14 21:09] RealChrisSean commented on #141
Hi, @imrehg will you use the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :)

[2022-10-14 21:09] RealChrisSean commented on #139
Hi, @CapedBaldie will you use the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :)

[2022-10-14 21:11] RealChrisSean commented on #136
Hi, @jay-tau will you use the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :)

[2022-10-14 21:12] RealChrisSean commented on #137
Hi, @jay-tau will you use the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :)

[2022-10-14 21:12] RealChrisSean commented on #19
Hi, @delenamalan will you use the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :)

[2022-10-14 21:12] RealChrisSean commented on #138
Hi, @eigengravy will you use the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :)

[2022-10-14 21:13] RealChrisSean commented on #6
Hi, @delenamalan whenever you get back to this, will you use the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/)? :)

[2022-10-14 21:14] RealChrisSean commented on #132
Hi, @ctrlaltdylan will you use the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :)

[2022-10-14 21:14] #21 closed

[2022-10-14 21:15] RealChrisSean commented on #120
How has it been going @masyagin1998? Anything we can help with? :)

[2022-10-14 21:15] ctrlaltdylan commented on #132
@RealChrisSean - I would but there's only a GraphQL endpoint for it. The low-code CDK is designed for REST APIs right?

[2022-10-14 21:15] RealChrisSean commented on #128
Hi, @rytismi will you use the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :)

[2022-10-14 21:16] RealChrisSean commented on #11
Hey @albert-marrero how's it going? Do you know if you will you use the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :)

[2022-10-14 21:17] RealChrisSean commented on #131
Hi, @elliottrabac will you be using the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :)

[2022-10-14 21:18] GreeneWoods commented on #11
Looking into it at this very moment, will definitely try that first!

BG
________________________________
From: Chris Sean ***@***.***>
Sent: Friday, October 14, 2022 5:16 PM
To: airbytehq/connector-contest ***@***.***>
Cc: GreeneWoods ***@***.***>; Mention ***@***.***>
Subject: Re: [airbytehq/connector-contest] Source: Zapier (#11)

Hey @albert-marrero<https://github.com/albert-marrero> how's it

[2022-10-14 21:18] RealChrisSean commented on #25
Hi, @NightHack36 how is this going so far? Please let me know if there's anything we can assist you with.

By the way, will you be using the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :)

[2022-10-14 21:19] RealChrisSean commented on #34
Hi, @YiyangLi! How has it been going? Please let me know if there's anything we can assist you with :).

By the way, will you be using the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :)

[2022-10-14 21:20] RealChrisSean commented on #119
Hi, @YiyangLi just asking for tracking purposes, will you be using the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this?

[2022-10-14 21:20] RealChrisSean commented on #125
Hi, @mmolimar will you be using the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :)

[2022-10-14 21:21] RealChrisSean commented on #118
Hey @parinzee how has it been going for you? Are you still pursuing this with our low-code cdk? :)

[2022-10-14 21:22] RealChrisSean commented on #123
Hi, @coder46 will you be using the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) with this? :)

[2022-10-14 21:23] RealChrisSean commented on #124
Hi, @alrz1999! How has it been? Will you use the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) with this? :)

[2022-10-14 21:23] RealChrisSean commented on #127
Hi, @sbrickel-nimble! How has it been going for you? Anything we can help you with? Will you be using the [low-code CDK ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this? :) If not I will label this with the python cdk thanks!

[2022-10-14 21:24] RealChrisSean commented on #22
Hi @Prodyte how has it been going? Anything we can help with?

[2022-10-14 21:24] RealChrisSean commented on #20
Hi @koji-m how has it been going? Anything we can help with? :)

[2022-10-14 21:25] #42 closed

[2022-10-14 21:25] RealChrisSean commented on #101
Hi @itaseskii how has this been going? :)

[2022-10-14 21:26] RealChrisSean commented on #111
Hi @subhamX how has this been going? Did you get the help you need?

[2022-10-14 21:26] RealChrisSean commented on #110
Hi @Atharvat how has this been going? :) Is there anything we can help you with?

[2022-10-14 21:27] RealChrisSean commented on #116
Hi @adi-uchiha how has this been going for you? Is there anything we can assist you with?

[2022-10-14 21:27] RealChrisSean commented on #90
Hi @evwltrs how is this going? Anything we can help with?

[2022-10-14 21:27] RealChrisSean commented on #109
Hi @deveshchatuphale7 how are things going? Anything we can help with? :)

[2022-10-14 21:28] RealChrisSean commented on #89
Hi @sarafonseca-123 how is this going? Anything we can help with?

[2022-10-14 21:28] RealChrisSean commented on #91
Hi @andresbravog how is this going? Anything we can help with?

[2022-10-14 21:28] evwltrs commented on #90
It's going well, just stuck in a bit of a roadblock with something. Asked on slack yesterday and reposted it today

[2022-10-14 21:28] RealChrisSean commented on #107
Hi @girardb how are things going? Anything we can help with?

[2022-10-14 21:30] RealChrisSean commented on #114
Hi @VoidCupboard how are things going? Anything we can help with? :)

[2022-10-14 21:30] RealChrisSean commented on #53
Hi @Azanul how have things been going? Anything we can help with? :)

[2022-10-14 21:31] RealChrisSean commented on #47
Hey @koconder how have things been going with this one? Anything we can help with? :)

[2022-10-14 21:31] RealChrisSean commented on #40
Hi @danthelion how have things been going? Is there anything we can assist you with? :)

[2022-10-14 21:32] RealChrisSean commented on #8
Hi @MinuraPunchihewa how have things been going? Anything we can help you with?

[2022-10-14 21:32] RealChrisSean commented on #71
Hi @vickywane how have things been going? Anything we can help with? :)

[2022-10-14 21:34] RealChrisSean commented on #105
Hey @cirdes how has it been going? Anything we can help you with?

[2022-10-14 21:34] RealChrisSean commented on #104
Hi @RobLucchi how have things been going with this? Anything we can assist you with?

[2022-10-14 21:35] RealChrisSean commented on #103
Hi @kachontep how have things been going with this? Anything we can assist you with?

[2022-10-14 21:35] #18 closed

[2022-10-14 21:35] #63 closed

[2022-10-14 21:35] #93 closed

[2022-10-14 21:35] #28 closed

[2022-10-14 21:35] #92 closed

[2022-10-14 21:35] #30 closed

[2022-10-14 21:35] #88 closed

[2022-10-14 21:36] #44 closed

[2022-10-14 21:36] #73 closed

[2022-10-14 21:36] #36 closed

[2022-10-14 21:36] #79 closed

[2022-10-14 21:36] #12 closed

[2022-10-14 21:36] #24 closed

[2022-10-14 21:36] #37 closed

[2022-10-14 21:37] RealChrisSean commented on #132
@ctrlaltdylan yes you are correct. Thanks for clarifying! :)

[2022-10-14 21:37] RealChrisSean commented on #11
Awesome! Good luck! I will label this as a low-code cdk unless you later decide to use the python cdk instead :)

[2022-10-14 21:43] YiyangLi commented on #119
@RealChrisSean Yes, I am working on it. AND I am using the low-code CDK.

I have a question, according to the requirements, `Check that all critical streams have been implemented.` How many streams I have to add? Thanks.

[2022-10-14 21:55] pabloescoder commented on #143
@RealChrisSean Thank you! :D
Yes I will be using the low-code cdk for this.

[2022-10-14 22:19] RealChrisSean commented on #119
Hey, @YiyangLi I have an answer, but I will clarify this really quick before giving you a proper response. I'll get back to you by tomorrow at the latest :)

[2022-10-14 22:19] RealChrisSean commented on #119
Also excellent! I'm happy to hear that you're trying out our low-code cdk :)

[2022-10-14 22:20] RealChrisSean commented on #143
Excellent!!! :)

[2022-10-14 22:44] sarafonseca-123 commented on #89
Hi @RealChrisSean! I got caught up with some things at work, but I'm planning to open a PR on this issue by Sunday

[2022-10-14 23:39] Azanul commented on #53
@RealChrisSean I'm getting familiar with the python cdk. I'll surely reach out to you in case I need any help.

[2022-10-14 23:56] RealChrisSean commented on #89
This is amazing! Thank you for the update @sarafonseca-123 :)

I will label this with "pr submitted" so I can make sure to follow up with this by next weekend :).

[2022-10-14 23:58] RealChrisSean commented on #53
I'm happy to hear that. We're always here to help. Good luck!

[2022-10-15 00:04] RealChrisSean commented on #133
Hi @hntan did you plan on using our [low-code cdk](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/) for this?

[2022-10-15 00:08] #78 closed

[2022-10-15 00:08] #74 closed

[2022-10-15 00:09] #39 closed

[2022-10-15 00:09] #38 closed

[2022-10-15 00:09] #32 closed

[2022-10-15 00:10] #17 closed

[2022-10-15 00:10] #16 closed

[2022-10-15 00:10] #14 closed

[2022-10-15 00:11] #10 closed

[2022-10-15 00:12] RealChrisSean commented on #3
Hi @michizhou how are things going? Anything we can help with? :)

[2022-10-15 00:55] michizhou commented on #3
@RealChrisSean I'm still working on it right now, but I'll let you know if I have any questions or need any guidance!

[2022-10-15 01:38] hntan commented on #133
Hi @RealChrisSean, the Gridly Api doesn't follow the pagination mechanisms which are described in the low-code cdk unfortunately. So I'll use the python cdk instead.

[2022-10-15 02:25] NoelJacob commented on #130
Yes I'm using low code

[2022-10-15 03:43] jay-tau commented on #136
Hi, if I do work on this, I will try to use the low-code CDK. At the moment, I am unsure if I can get it working, but don't mind trying

[2022-10-15 03:43] jay-tau commented on #137
I am trying to use the low-code CDK for this

[2022-10-15 04:31] imrehg commented on #141
@RealChrisSean I'm hoping to, depends on sorting out the authentication mainly, and I got some help regarding that on the Airbyte Slack, so the first stab is with low-code indeed.

[2022-10-15 04:34] eigengravy commented on #138
Yeah, I'm still going through the docs of the Low Code CDK

[2022-10-15 05:05] MinuraPunchihewa commented on #8
Hey @RealChrisSean, I am in the process of working on this. I have opened a draft PR after working on it a little. The community has said that they will help me out.

[2022-10-15 05:09] parinzee commented on #118
Hey @RealChrisSean! Sorry for the confusion, I'm using the Python CDK since there is an Azure SDK available. I'm just finishing up on the source-acceptance tests right now. Could I ask if unit-tests are nescesscary? Since the source-acceptance tests already tests all the functionality of the source.

Thank you very much!

[2022-10-15 05:18] RealChrisSean commented on #130
Awesome! Good luck! :)

[2022-10-15 05:19] RealChrisSean commented on #136
Awesome! Please let us know if there's anything we can help with :).

[2022-10-15 05:19] RealChrisSean commented on #137
Excellent!

[2022-10-15 05:20] RealChrisSean commented on #141
Awesome! I'm happy to hear you received help on slack as well ).

[2022-10-15 05:20] RealChrisSean commented on #138
Excellent! Let us know if there's anything we can help with :).

[2022-10-15 05:21] RealChrisSean commented on #8
Excellent! :)

[2022-10-15 05:23] RealChrisSean commented on #118
Excellent! No need to apologize as well.

Yes, it is still necessary :(.

[2022-10-15 05:30] adi-uchiha commented on #116
Hey @RealChrisSean thanks for reaching out
I was having trouble building connector.
Tried a lot to solve that on my own.
I posted that on slack 7 days ago. Got no reply.
https://airbytehq.slack.com/archives/C027KKE4BCZ/p1665322636228029
I felt that community support is weak. I cannot proceed without solving that problem.
Would be great if you assign me mentor or something like that whom I can reac

[2022-10-15 05:42] parinzee commented on #118
Fantastic, thank you for the info!

[2022-10-15 07:09] deveshchatuphale7 commented on #109
Hey Chris, So far I have setup local repo & started exploring Braze docs for APIs. However, I would need help in getting API Key from Braze.

[2022-10-15 09:38] RobLucchi commented on #104
Hello @RealChrisSean, Its been Great, Already Submitted it at https://github.com/airbytehq/airbyte/pull/17767.
I'm working on the required changes.

[2022-10-15 10:04] Atharvat commented on #110
Hi @RealChrisSean sorry for the delay. I am working on it, will create a PR soon

[2022-10-15 10:09] masyagin1998 commented on #120
Hey, @RealChrisSean !
I'm working on Trustpilot right now: https://github.com/airbytehq/airbyte/pull/17933 and going to fix all points of review this week.
Then I'll work on Google Play)

[2022-10-15 12:53] imrehg opened #146 "New Source: Starling Bank"
Docs: https://developer.starlingbank.com/docs

[2022-10-15 12:54] imrehg commented on #146
Made some initial progress as a low-code CDK solution, pulling accounts and balances with a personal access token (work [on this branch](https://github.com/imrehg/airbyte/tree/source-starling-bank)).

[2022-10-15 12:57] imrehg commented on #141
Authentication continues to be a pain, as trying to see examples whether AirByte can do the full OAuth 2.0 redirect game that Monzo needs. Alternatively also checking if AirByte uses the refresh tokens that can be potentially provided in some not-so-nice manual way.

In the meantime I've picked up an easier-to-handle neobank, #146

[2022-10-15 13:24] cirdes commented on #105
@RealChrisSean , I should open a draft pull request this weekend. This feature is working but I'm struggling to write the tests. It would be great to receive some guidance.

[2022-10-15 15:14] koji-m commented on #20
Thank you @RealChrisSean . I have just completed the minimal implementation.

[2022-10-15 16:41] btkcodedev commented on #13
@RealChrisSean
Can I work on this issue?
I am a beginner. But I will try.

[2022-10-15 17:06] RealChrisSean commented on #13
Yes go for it!

On Sat, Oct 15, 2022 at 9:41 AM Balasubramanian T K <
***@***.***> wrote:

[2022-10-15 17:27] btkcodedev commented on #13
Thanks :)

[2022-10-16 04:23] Smartmind12 commented on #146
@imrehg Can you assign this to me ...thanks!

[2022-10-16 05:40] Smartmind12 commented on #135
@RealChrisSean Can i start working on this issue??

[2022-10-16 06:17] kachontep commented on #103
Hi @RealChrisSean , I am still working on it and plan to need a help from you to review it next week.

[2022-10-16 09:00] imrehg commented on #146
I cannot change assignments, if you think implementing this source is relevant for you, just go ahead with it!

[2022-10-16 09:06] elliottrabac commented on #131
Yes, very excited to see how it goes!

[2022-10-16 09:53] Pipboyguy opened #147 "New Source: Pingdom"
[](https://www.pingdom.com/api/)

[2022-10-16 10:48] rytismi commented on #128
Yes @RealChrisSean :)

[2022-10-16 15:02] johnlafleur opened #148 "New Source: Sailthru"

[2022-10-16 15:27] johnlafleur opened #149 "New source: DynamoDB"

[2022-10-16 15:29] cirdes commented on #105
@RealChrisSean , waiting for feedbacks. https://github.com/airbytehq/airbyte/pull/18036

[2022-10-16 16:05] money8203 opened #150 "New source: Lokalise"

[2022-10-16 16:20] money8203 opened #151 "New source: Bloomreach"

[2022-10-16 16:23] money8203 opened #152 "New Source: Quip"

[2022-10-16 16:35] money8203 opened #153 "New Source: JFrog Artifactory"

[2022-10-16 16:43] money8203 commented on #151
@RealChrisSean since this is new to me so i don't know how to implement it. I was reading the documents and then I found that there are various connectors that are not present , that's why i created issue so that it might help you reducing your search work.

Also if you can guide me I can work on this/ any other project.

[2022-10-16 18:32] RealChrisSean commented on #135
Yes! I have assigned this issue to yo. Good luck!

[2022-10-16 18:32] RealChrisSean commented on #103
Awesome thanks for getting back to me so soon! :)

[2022-10-16 18:33] RealChrisSean commented on #146
@Smartmind12 I have assigned this to you :)

[2022-10-16 18:34] RealChrisSean commented on #131
Excellent! Good luck! :)

[2022-10-16 18:34] RealChrisSean commented on #128
Excellent! Good luck!

[2022-10-16 18:35] RealChrisSean commented on #147
Hi @Pipboyguy will you be using the low-code cdk for this? :)

[2022-10-16 18:36] RealChrisSean commented on #133
Hi @hntan thank you for clarifying. Good luck with this :)

[2022-10-16 18:38] RealChrisSean commented on #152
Hi @money8203 this has been assigned to you. Will you be using the low-code CDK for this? :)

[2022-10-16 18:40] RealChrisSean commented on #151
Hi @money8203 Thank you for creating an issue on this. Have you had a chance to watch our video tutorials on the low-code cdk?

https://www.youtube.com/watch?v=i7VSL2bDvmw
https://www.youtube.com/watch?v=LQ2RqsrxIRc

[2022-10-16 18:41] RealChrisSean commented on #150
Thanks for creating this issue @money8203! :) Have you had a chance to check if their API is [low-code cdk ](https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview/)compatible? :)

[2022-10-16 18:42] RealChrisSean commented on #105
Excellent! We will get back to you within the week :).

[2022-10-16 18:43] RealChrisSean commented on #49
Hi @Rahul-Kumar-prog how have things been going? Anything we can help with? :)

[2022-10-16 18:44] RealChrisSean commented on #3
Awesome good luck! :)

[2022-10-16 18:45] RealChrisSean commented on #126
AWESOME!!! @alexchouraki

[2022-10-16 18:57] andresbravog commented on #91
@RealChrisSean looking good so far I just need to find time to complete things.

<img width="1632" alt="image" src="https://user-images.githubusercontent.com/363321/196052947-1f3ba82b-5e91-49ae-bb0e-1c0f59b037a7.png">

[2022-10-16 19:19] money8203 commented on #150
Welcome !
Yea it is compatible.

If you like I can keep finding the missing sources and issue them from time to time :)

[2022-10-16 20:14] itaseskii commented on #101
Hey @RealChrisSean I have opened a PR

[2022-10-16 20:16] itaseskii commented on #149
DynamoDB is one of the connectors that I wanted to work on during the hackathon and I would like to work on this next. @RealChrisSean please assign it to me.

[2022-10-16 20:32] deanmalan commented on #150
Since I've created a PR for #19, I'm happy to get started on this one :)

[2022-10-16 20:38] recursiveforte opened #154 "New source: PyPI"

[2022-10-16 20:52] money8203 commented on #151
I'm on it.....

[2022-10-16 20:55] money8203 commented on #152
Thanks @RealChrisSean for counting on me but I'm sorry, please assign this task to someone else because i'm just a beginner and working on previous one so it will take a little time for me to complete one project and by doing so someone will have their chance to contribute , but don't worry i will keep contributing to issues whenever I will find any low code cdk application or anything related to

[2022-10-16 21:11] RealChrisSean commented on #152
Thank you for letting me know :). Good luck!

[2022-10-16 21:12] RealChrisSean commented on #151
Good luck!

[2022-10-16 21:13] RealChrisSean commented on #154
Hi @recursiveforte thank you for creating this issue :). Did you want me to assign this to you? If so, will you be using the low-code cdk as well? :)

[2022-10-16 21:15] RealChrisSean commented on #150
@money8203 you are amazing. Thank you for the help! 🙏

[2022-10-16 21:15] RealChrisSean commented on #150
@delenamalan amazing! Good luck with this one :)

[2022-10-16 21:15] money8203 commented on #151
Thanks !

[2022-10-16 21:18] RealChrisSean commented on #149
@itaseskii amazing! I have assigned this ticket to you. :) Will you attempt to use the low-code cdk for this as well? 😇

[2022-10-16 21:19] recursiveforte commented on #154
Yes, I was going to work on it. I'll be using the low-code CDK.

[2022-10-16 21:19] RealChrisSean commented on #101
Amazing! 🎉🎊😎

I will add this to the list of PRs to reviewed :)

[2022-10-16 21:20] money8203 commented on #150
@RealChrisSean Anytime bro !
If you like my work ,make me a member of your community I will be more than happy to be a part of something greater than me :)

[2022-10-16 21:20] RealChrisSean commented on #154
Perfect! 🎉😎

I will assign this to you. Good luck! 🤞🏼

[2022-10-16 21:22] RealChrisSean commented on #150
We are only as great as our community. 🙏

[2022-10-16 21:22] recursiveforte commented on #154
Thank you!

[2022-10-16 21:43] itaseskii commented on #149
Dynamodb is an AWS NoSQL database and is not meant to be integrated with using the low-code-cdk. I will be using the AWS sdk for Java.

[2022-10-17 06:16] girardb commented on #107
Sorry, I didn't have that much time to work on it yet.

I read through the CDK tutorial quickly and I think most of the routes seem to behave like "http://api.exchangeratesapi.io/latest" as they mostly show the current state of the query and they do not cover info over a range of dates, like the incremental version in the tutorial. Are there specific routes that we would want to cover or is it mos

[2022-10-17 07:01] ghost commented on #127
Hi @RealChrisSean, thanks for asking. Yes, I am using the low-code CDK. My current issue is with my login data to the platform, so unrelated to the connector. I am in communication with the responsible people and hope to solve this issue quickly

[2022-10-17 09:22] subhamX commented on #111
@RealChrisSean;

The implementation part is almost done. I've tested the free APIs, but testing the PRO features is tricky (as I don't have Zoom PRO, and it's very expensive 😅).

I've reached out to a few folks at Zoom, and their DevRel team might reply back soon. (in case they're interested in providing Zoom PRO for a day).

Also, I had a small query on the design approach (and error_handling), a

[2022-10-17 18:03] cirdes opened #155 "New Destination: Typesense"
[Typesense](https://typesense.org/) is a modern, privacy-friendly, open source search engine built from the ground up using cutting-edge search algorithms, that take advantage of the latest advances in hardware capabilities.

It is an alternative to Elasticsearch, Algolia and Meilisearch

[2022-10-17 19:00] RealChrisSean commented on #155
Amazing! Did you want me to assign this to you?

[2022-10-17 20:22] blarghmatey commented on #144
Thanks for the question @RealChrisSean. I don't have the time or context at the moment to take on this work, so I'm hoping that someone will be able to help with the implementation. I'm happy to help work through the details and test the implementation.

[2022-10-18 04:46] mutt-santiago-stachuk opened #156 "Alternative Source: Google Ads"
## What
 Trying to replicate conector developed with Python SDK in `low code sdk`

## Why
 If performance is similar, it may be more easy to update connector for future contributors/collaborators

## OG Source Google Ads
 [Airbyte Gads documentation](https://docs.airbyte.com/integrations/sources/google-ads/)

[2022-10-18 04:48] mutt-santiago-stachuk commented on #156
I nominate myself for this one if there's no  problem :)

[2022-10-18 06:47] btkcodedev commented on #152
@RealChrisSean I've gone through this but the api is not open source I think.
It requires license for api testing.

[2022-10-18 07:14] Pipboyguy commented on #147
Hi @RealChrisSean . Yes I'll be using the low code CDK for this

[2022-10-18 07:36] Rahul-Kumar-prog commented on #49
yeah sorry for the late response but i am facing an issue. actually i dont able to get clevertap api i am requesting for api key to clevertap. i think clevertap api available for corporate employee only. i am talking to clevertap person.
if you can help me with i am grateful to you for this

[2022-10-18 08:05] btkcodedev commented on #13
@RealChrisSean Just wanted to know that, could I only focus on email end point only? BCZ it has tons of endpoints🔚

[2022-10-18 08:18] btkcodedev opened #157 "New Source: SpaceX API"
https://api.spacexdata.com/v5/launches

Open Source REST API for SpaceX data.
Fully open source
Link: https://github.com/r-spacex/SpaceX-API

[2022-10-18 08:19] btkcodedev commented on #157
I would like to work with this using low code cdk
With no auth

[2022-10-18 08:22] btkcodedev commented on #157
V4 has couple of endpoints
But will try to give my level best

[2022-10-18 14:42] kitrakrev commented on #29
Can you assign this to me?

[2022-10-18 15:33] RealChrisSean commented on #29
Hi @kitrak-rev this has been assigned to you :)

[2022-10-18 16:41] itaseskii commented on #144
After some discussion with @blarghmatey on what the scope of this task is I will assign this to myself and start working on it ASAP since it is relatively urgent tasks.

[2022-10-18 17:18] RealChrisSean commented on #152
NOOO So sorry. Thank you for checking @btkcodedev

[2022-10-18 21:47] adnanjmi21 opened #158 "New Source : Kapture CRM"
Build Kapture CRM source connector using Low code cdk .

https://www.kapturecrm.com/resources

[2022-10-18 21:47] adnanjmi21 commented on #158
I want to work on this

[2022-10-19 02:01] Sid-Lais commented on #148
I find this connector competition interesting and would like to take part but I'm a beginner. Can this be done by low code CDK? Also where can I find the API key.

[2022-10-19 03:14] henriblancke opened #159 "New Source: Insightly"
API documentation: https://api.na1.insightly.com/v3.1/#!/Overview/Introduction

[2022-10-19 03:15] henriblancke commented on #159
Already in progress using the python CDK

[2022-10-19 03:18] mmolimar commented on #125
I used the normal CDK.
Just created [a PR](https://github.com/airbytehq/airbyte/pull/18150)!

[2022-10-19 11:13] akashpatl opened #160 "New source: Klarna"
Build Klarna Merchant API source connector using python cdk.

https://developers.klarna.com/api/

[2022-10-19 11:13] Sid-Lais commented on #6
I'm interesting in this but I'm a beginner. Are the video tutorials enough? Also where can I get the API key?

[2022-10-19 11:14] akashpatl commented on #160
I want to work on this.

[2022-10-19 11:14] jhammarstedt opened #161 "New source: Fastbill"
Hi, I want to work on this using the Python CDK

API docs
https://apidocs.fastbill.com/

[2022-10-19 11:14] jhammarstedt commented on #161
I want to work on this

[2022-10-19 11:20] sofiehellmark opened #162 "New Source: Visma e-conomic"
I'll work on this one using the Python CDK.
Documentation: https://apis.e-conomic.com/

[2022-10-19 11:58] ghost commented on #127
Hi @RealChrisSean,

now I am having issues and could use some help. I already posted in the Slack group, but don't have the best experience in getting answers there.
https://airbytehq.slack.com/archives/C021JANJ6TY/p1666179654154549

[2022-10-19 12:24] jj-nilbodee opened #163 "New Source: SurveySparrow"
I'll work on this one! (using low code CDK)

[2022-10-19 16:01] alkali opened #164 "New Source: Xero"
I would like to implement this one. I'm not sure if it's possible to make a connector for default OAuth Xero authorization (due to this issue https://github.com/airbytehq/airbyte/issues/3990), as Xero tokens are short-living and both access_token and refresh_token should be refreshed every 30 minutes. But at least I can build a connector for Xero Custom Connections, which uses a different mechanis

[2022-10-19 17:36] techytushar commented on #149
Hey @itaseskii ,
Since you already have other issues assigned to you, can I pick this one up ?

[2022-10-19 17:48] itaseskii commented on #149
Hey @techytushar, no, I'm actively working on this. What other issues are you referring to?

[2022-10-19 18:17] marcosmarxm opened #165 "New Source: Courier"

[2022-10-19 18:17] marcosmarxm commented on #165
@RealChrisSean https://github.com/airbytehq/airbyte/pull/16847

[2022-10-19 18:23] RealChrisSean commented on #165
You are amazing Ty!

[2022-10-19 18:58] Sid-Lais commented on #6
Got the API key and everything is set up. Should I start working on it? @avaidyanatha @RealChrisSean

[2022-10-19 19:24] RealChrisSean commented on #6
Yes! This has been assigned to you :)

[2022-10-19 19:25] RealChrisSean commented on #6
You can find tutorials here https://github.com/airbytehq/connector-contest

[2022-10-20 00:29] RealChrisSean opened #166 "New Source: GoCardless"
https://github.com/airbytehq/airbyte/pull/17792

[2022-10-20 01:21] RealChrisSean commented on #163
Excellent! This ticket has been assigned to you @jhajajaas. Good luck!

[2022-10-20 01:23] RealChrisSean commented on #162
Excellent! I have assigned this to you. Good luck!

[2022-10-20 01:24] RealChrisSean commented on #161
Hello @jhammarstedt this has been asigned to you. Good luck!

[2022-10-20 01:24] RealChrisSean commented on #160
Hello @akashpatl this has been assigned to you. Good luck!

[2022-10-20 01:25] RealChrisSean commented on #125
Amazing!!!

[2022-10-20 01:26] RealChrisSean commented on #159
Amazing! Good luck with this. I have assigned this issue to you :)

[2022-10-20 01:28] RealChrisSean commented on #148
Hello @Sid-Lais sorry for the late response. I have not had a chance to check out their API. You can check if this is low-code compatible here: https://docs.airbyte.com/connector-development/config-based/low-code-cdk-overview

[2022-10-20 01:29] RealChrisSean commented on #158
Hi @adnanjmi21 this has been assigned to you. Good luck!

[2022-10-20 01:36] Sid-Lais commented on #148
It's okay. I got assigned to another issue. Will be working on that for now.

[2022-10-20 01:36] RealChrisSean commented on #144
Hi @itaseskii I have assigned this ticket to you. Good luck. :)

[2022-10-20 01:37] RealChrisSean commented on #157
Hello @btkcodedev good luck. I have assigned this issue to you.

[2022-10-20 01:38] RealChrisSean commented on #156
Hi @mutt-santiago-stachuk I have assigned this issue to you. Good luck! :)

[2022-10-20 01:39] #152 closed, assigned to nobody

[2022-10-20 01:39] RealChrisSean commented on #148
Sounds good! Good luck with that one :)

[2022-10-20 04:57] techytushar commented on #149
I am referring to this issue https://github.com/airbytehq/connector-contest/issues/144

[2022-10-20 06:49] btkcodedev commented on #157
![IMG_20221020_120104](https://user-images.githubusercontent.com/47392334/196876282-d1f86504-bdcd-4757-b10d-2d717c8f372a.jpg)
These are the tests which are failing.

[2022-10-20 06:54] itaseskii commented on #149
The task that you are referring to is an enhancement to an existing connector and was part of an internal agreement :)

[2022-10-20 12:46] dainiussa opened #167 "New Source: ActiveCampaign"
Hi, I would like to work on this source using Low-Code CDK. API docs: https://developers.activecampaign.com/reference/overview @RealChrisSean

[2022-10-20 18:51] marcosmarxm commented on #165
@RealChrisSean please check in airbyte repo the responsibe for thie contribution.

[2022-10-20 21:31] vincentkoc commented on #109
@deveshchatuphale7 @RealChrisSean if you get stuck im happy to take this on as I have access to an enterprise Braze account and would like to try the low code approach

[2022-10-20 21:59] YiyangLi commented on #34
I plan to use the low-code CDK, just took off a pairing session with Brian Lai. He helped a lot and pointed me a good reference -- greenhouse.

I am blocked currently on the pendo side. In order to use the API, I have to request an upgrade to unlock the integrations feature. Hopefully they can give me a 30-days free trial.

[2022-10-20 22:06] pabloescoder opened #168 "New Source: StackAdapt"
StackAdapt is the self-serve programmatic advertising platform used by exceptional digital marketers.

https://docs.stackadapt.com/

I saw this API in the requested connectors page of the Airbyte website. Since I have already made a PR for my previous issue (which was merged), can I start working on this as a part of the connector contest?

I will be using the Low Code CDK for implementing this co

[2022-10-20 23:32] xlahuerta opened #169 "New Source: NASA APOD"
I'll work on this one! (using python CDK)

[2022-10-21 03:00] cirdes commented on #155
@RealChrisSean, sure!

[2022-10-21 17:38] RealChrisSean commented on #167
Excellent! @dainiussa this has been assigned to you

[2022-10-21 19:38] RealChrisSean commented on #169
Awesome! I have assigned this to you. Good luck :)

[2022-10-21 19:39] RealChrisSean commented on #168
I have assigned this to you. Good luck!

[2022-10-21 19:40] RealChrisSean commented on #34
Hey @YiyangLi I'm happy to hear that Brian helped you out! Let us know if you still have a problem with that as we near the deadline. Good luck!

[2022-10-21 19:42] RealChrisSean commented on #109
Hey @deveshchatuphale7 how is it going so far with the API key? Let us know if you want @koconder to take over :).

@koconder maybe follow up by mon or tues in case @deveshchatuphale7 doesn't reply? :)

[2022-10-21 19:44] RealChrisSean commented on #164
Hey @alkali I will assign this to you. Good luck with this!

[2022-10-21 19:50] haithem-souala opened #170 "New Source: Mailjet Mail API"
Hi, i would like to work on this one.

[2022-10-21 19:51] haithem-souala opened #171 "New Source: Mailjet SMS API"
I would like to work on this one.

[2022-10-21 22:16] pabloescoder commented on #168
@RealChrisSean Thank you!

[2022-10-21 22:19] pabloescoder commented on #143
@RealChrisSean Could you please add the **complete** label to this issue since the PR I made for it has been merged? :D

[2022-10-21 23:04] RealChrisSean commented on #170
Awesome! I have assigned this to you. Will you be using the low-code cdk or python cdk? :)

[2022-10-21 23:04] RealChrisSean commented on #171
Awesome! This has been assigned to you.

[2022-10-21 23:06] RealChrisSean commented on #171
duplicate

[2022-10-21 23:06] RealChrisSean commented on #165
@gpsamson congrats on completing this!

[2022-10-21 23:11] RealChrisSean commented on #140
WOOO congrats on completing this!

[2022-10-21 23:12] RealChrisSean commented on #143
CONGRATS!!!! WOOOOO! :)

[2022-10-21 23:14] RealChrisSean commented on #159
Congrats on having this merged :D

[2022-10-21 23:15] #71 closed

[2022-10-21 23:16] RealChrisSean commented on #166
Tagging @isaacharrisholt for reference :). Congrats on having this merged :).

[2022-10-21 23:29] RealChrisSean opened #172 "SFTP Bulk [Python CDK]"
https://github.com/airbytehq/airbyte/pull/17691

Tagging @henriblancke for reference

[2022-10-21 23:33] RealChrisSean opened #173 "New Destination: Apache Doris"
https://github.com/airbytehq/airbyte/pull/17884

Tagging @catpineapple for reference

[2022-10-21 23:40] RealChrisSean commented on #8
https://github.com/airbytehq/airbyte/pull/17886

[2022-10-21 23:55] RealChrisSean opened #174 "New Source: SnipeIT"
https://github.com/airbytehq/airbyte/pull/18067

@cornjuliox for reference

[2022-10-21 23:56] RealChrisSean commented on #156
https://github.com/airbytehq/airbyte/pull/18091

[2022-10-21 23:59] RealChrisSean commented on #127
https://github.com/airbytehq/airbyte/pull/18165

[2022-10-22 00:00] RealChrisSean opened #175 "New Source: Oura"
https://github.com/airbytehq/airbyte/pull/18224

@isaacharrisholt for reference

[2022-10-22 00:02] RealChrisSean opened #176 "New Source: CoinGecko Coins"
https://github.com/airbytehq/airbyte/pull/18248

@isaacharrisholt for reference

[2022-10-22 00:09] RealChrisSean commented on #124
Hey @alrz1999 just following up on this :). Is there anything we can help with?

[2022-10-22 08:17] vincentkoc opened #178 "New Source: Google Mobility Data"
Used for analytical research purposes and widley used in the data science community.

[2022-10-22 08:17] vincentkoc commented on #178
Resolves https://github.com/airbytehq/airbyte/issues/18329

[2022-10-22 09:33] btkcodedev commented on #157
@RealChrisSean
Minor Update: Tested endpoint launches/latest and launches/id and got connection as succeeded also read data
![image](https://user-images.githubusercontent.com/47392334/197332222-bb944f2e-fc01-4c42-9120-8f239f4b4b21.png)

[2022-10-22 10:52] pabloescoder commented on #168
@RealChrisSean Authorization for this API requires an API key that can be requested from the Account Manager (source: docs). So, in my opinion, it is not possible to create a personal account and get an API key, but rather an organization that already has a StackAdapt account can provide an API key to their employees.
I've emailed the StackAdapt support team, mentioning the whole situation in deta

[2022-10-22 11:15] haithem-souala commented on #170
low-code

[2022-10-22 11:16] haithem-souala commented on #171
Hi @RealChrisSean,
This is not a duplicate, this is another API for the same company: Mailjet, it's  2 different product:
Mail API
SMS API

[2022-10-22 14:19] RealChrisSean commented on #171
Sorry about that @haithem-souala. I have reopened this :)

[2022-10-22 14:21] RealChrisSean commented on #168
Yes of course. I’m sorry to hear how difficult it is to reach them. :(

On Sat, Oct 22, 2022 at 3:53 AM Dhroov Makwana ***@***.***>
wrote:

[2022-10-22 14:26] btkcodedev commented on #157
Hello maintainers
Please check this PR
Just one build documentation is only needed to be updated.
All the other chores for a new connector is done

🎉 https://github.com/airbytehq/airbyte/pull/18311

@RealChrisSean

[2022-10-22 16:14] sandeepB3 commented on #148
Hey!! I would like to work on this, I am new to making connectors but I will try my best. Can I be assigned?

[2022-10-22 18:19] elliottrabac commented on #131
PR submitted ✅

[2022-10-22 19:06] RealChrisSean commented on #131
Niiice!

[2022-10-22 19:07] RealChrisSean commented on #148
Hi @sandeepB3 I have assigned this issue to you :). Good luck!

[2022-10-22 19:08] RealChrisSean commented on #157
Amazing 🎊🎉! We'll get back you sometime next week since everyone is off during the weekend :).

[2022-10-22 19:10] RealChrisSean commented on #178
Amazing! 🎉

[2022-10-22 19:27] sarafonseca-123 opened #179 "New Source: RD Station Marketing"
The most used marketing automation tool in Latin America. I'd like to do this one using the Python CDK.

[2022-10-22 21:46] dainiussa opened #180 "New Source: Omnisend"
Hi, I would like to work on this source using Low-Code CDK. API docs: https://api-docs.omnisend.com/reference/intro @RealChrisSean

[2022-10-22 21:48] RealChrisSean commented on #180
Awesome! I have assigned this ticket to you :) good luck!

[2022-10-22 21:48] RealChrisSean commented on #179
Awesome! Good luck! :)

[2022-10-22 21:50] dainiussa commented on #167
Opened a PR for this issue: https://github.com/airbytehq/airbyte/pull/18335 :)

[2022-10-22 21:50] rytismi commented on #128
Opened a PR: https://github.com/airbytehq/airbyte/pull/18336

[2022-10-22 22:04] RealChrisSean commented on #167
Amazing! Wow that was fast! 🎊🎉😎

[2022-10-22 22:05] RealChrisSean commented on #128
Amazing!

Our team should get back to you sometime next week. :)

[2022-10-23 01:33] scottleechua opened #181 "New Source: EmailOctopus"
Hello! I'd like to work on this email newsletter API using the Low-code kit: https://emailoctopus.com/api-documentation @RealChrisSean :)

[2022-10-23 01:34] RealChrisSean commented on #181
Good luck! :)

[2022-10-23 05:33] gpsamson commented on #165
@marcosmarxm @RealChrisSean I didn't know this was a thing. Cheers!

[2022-10-23 06:05] sandeepB3 commented on #148
Okay, Thank you!

[2022-10-23 06:54] sandeepB3 commented on #148
Hey @RealChrisSean I explored the Sailthru Website & its API documentation. Sailthru provides a business solution for companies. Hence it is not available for open source testing according to my findings.

[2022-10-23 12:16] BajajAyush commented on #153
please assign it to me

[2022-10-23 12:18] BajajAyush commented on #22
Please assign it to me, i am willing to give it shot

[2022-10-23 12:23] BajajAyush opened #182 "NewSource: Shiprocket"
Hi, I would like to work on this source using Low-Code CDK. API docs:https://developer.shiphero.com/getting-started
@RealChrisSean

[2022-10-23 16:34] pabloescoder commented on #112
@AP2008 Have you started to / are you still working on this? If not, then can I take this issue? @RealChrisSean

[2022-10-23 16:36] Limits0x commented on #112
Yeah. I have started working on this. I'll be making a PR in the next few days.

[2022-10-23 16:38] pabloescoder commented on #112
Alright, sounds good!

[2022-10-23 17:05] hntan commented on #133
Pull request is created [18342](https://github.com/airbytehq/airbyte/pull/18342), please review it. cc @RealChrisSean

[2022-10-23 17:10] pabloescoder commented on #168
Should I close this issue for now? I can reopen it if I get an API key/trial account from the StackAdapt team.

[2022-10-23 17:32] YiyangLi opened #183 "New Destination: Heap Analytics"
## Background
[Heap Analytics](https://heap.io) is a product analytics tool that collects customer behaviors in web apps and mobile apps. With the powerful analytics tool,  [Illuminate](https://www.heap.io/platform/illuminate), people sometimes use Heap as a BI tool to analyze and visualize data. This destination connection here can import data to Heap, from various sources.

## API Docs
https://d

[2022-10-23 18:48] haithem-souala commented on #170
PR [#[source mail](https://github.com/airbytehq/airbyte/pull/18332)](https://github.com/airbytehq/airbyte/pull/18332)

[2022-10-23 19:37] haithem-souala opened #184 "New source - tyntec SMS"
HI,

I would like to work on this one: https://api.tyntec.com/reference/sms/current.html#sms-api

[2022-10-23 19:39] haithem-souala commented on #184
Low code cdk

[2022-10-23 20:03] pabloescoder opened #185 "New Source: The Guardian API"
The Guardian Open Platform is a public web service for accessing all the content the Guardian creates, categorised by tags and section.

https://open-platform.theguardian.com/documentation/

I would like to work on implementing this connector! I will be using the Low Code CDK for this.

[2022-10-23 20:49] haithem-souala commented on #171
PR: https://github.com/airbytehq/airbyte/pull/18345

[2022-10-23 23:23] vickywane opened #186 "New Source: Alpaca"
I would love to use the low-code CDK to create a new source for Alpaca's News API: https://alpaca.markets/docs/market-data/news/  .

If I have more time left, I will be glad to extend the PR scope to cover other Alpaca APIs such as the [Trading](https://alpaca.markets/docs/api-references/trading-api/), [Broker](https://alpaca.markets/docs/api-references/broker-api/), and [Crypto](https://alpaca.ma

[2022-10-23 23:41] RealChrisSean commented on #186
Sounds good! I have assigned this to you :)

[2022-10-23 23:42] RealChrisSean commented on #133
Amazing! The team will get back to you next week since everyone is off during the weekend. :)

[2022-10-23 23:43] RealChrisSean commented on #112
Amazing!

[2022-10-23 23:44] RealChrisSean commented on #182
Awesome! I have assigned this to you. Good luck! :)

[2022-10-24 03:30] RealChrisSean commented on #171
Amazing! Our team should get back to you within a few days :)

[2022-10-24 03:30] RealChrisSean commented on #185
Amazing! I have assigned this ticket to you.

[2022-10-24 03:31] RealChrisSean commented on #184
Awesome! I have assigned this issue to you. Good luck!

[2022-10-24 03:32] RealChrisSean commented on #170
Amazing! Our team will get back to you within the next few days. Thank you!

[2022-10-24 03:34] RealChrisSean commented on #183
Good luck with this!  :)

[2022-10-24 03:35] RealChrisSean commented on #168
Yes, that's fine. I have closed it for you. Please let me know if you want to reopen this later.

[2022-10-24 03:36] RealChrisSean commented on #22
Hi @BajajAyush I have assigned this ticket to you. Good luck!

[2022-10-24 03:37] RealChrisSean commented on #153
Hello @BajajAyush you can only work on one connector at time. I have assigned a ticket to you but you can move to this when you're done with the other one :)

[2022-10-24 03:37] RealChrisSean commented on #148
Nooooo. I will double-check with the team thank you so much for letting us know.

[2022-10-24 04:51] pabloescoder commented on #185
Thank you!

[2022-10-24 06:05] aazam-gh opened #187 "New Source: Twilio TaskRouter"
I would like to work on building a connector for https://www.twilio.com/docs/taskrouter/api using the Low code SDK.

[2022-10-24 07:12] haithem-souala commented on #170
Can you please add the label hacktober :)
Thx

[2022-10-24 07:28] RealChrisSean commented on #170
Done! :)

[2022-10-24 08:02] deveshchatuphale7 commented on #109
@RealChrisSean  I think @koconder can take this issue

[2022-10-24 09:30] haithem-souala opened #188 "New source - Secoda"
Hey,

I would like to work on this: https://docs.secoda.co/secoda-api

LOW CODE CDK.

[2022-10-24 11:37] Bisht13 commented on #153
Can I be assigned to this?

[2022-10-24 15:24] haithem-souala opened #189 "New source - K6 Cloud"
Hey,

Another one https://developers.k6.io/

Low Code CDK

[2022-10-24 15:26] RealChrisSean commented on #189
Awesome I have assigned this to you :)

[2022-10-24 15:27] RealChrisSean commented on #153
Hello I have assigned this to you @Bisht13

[2022-10-24 15:29] RealChrisSean commented on #109
Sounds good thanks for getting back to us @deveshchatuphale7 :)

[2022-10-24 15:45] haithem-souala commented on #188
PR: https://github.com/airbytehq/airbyte/pull/18378

[2022-10-24 16:14] michizhou commented on #3
@RealChrisSean I ran into some issues during the course of my connector work. I sent some messages to you via Slack with further details. I would appreciate it if you can provide any guidance or assistance. Thanks!

[2022-10-24 17:06] RealChrisSean commented on #187
Hello I have assigned this ticket to you. Good luck!

[2022-10-24 17:47] marcelopio opened #190 "New Source: Microsoft Dataverse API"
We already have most of the code ready,

https://learn.microsoft.com/en-us/power-apps/developer/data-platform/webapi/overview

Python CDK

[2022-10-24 18:38] haithem-souala commented on #189
PR: https://github.com/airbytehq/airbyte/pull/18393

[2022-10-24 19:23] xlahuerta commented on #169
PR https://github.com/airbytehq/airbyte/pull/18394

[2022-10-24 23:18] dainiussa opened #191 "New Source: ConvertKit"
Hi, I would like to work on this source using Low-Code CDK. API docs: https://developers.convertkit.com/#getting-started

[2022-10-24 23:29] RealChrisSean commented on #191
Awesome! I have assigned this to you. Good luck :).

[2022-10-24 23:30] RealChrisSean commented on #169
Amazing!

[2022-10-24 23:31] RealChrisSean commented on #189
Amazing @haithem-souala how was it using our low-code cdk? Completing this in five hours is impressive :). cc @misteryeo

[2022-10-24 23:32] RealChrisSean commented on #190
NICE! :D

[2022-10-25 08:26] haithem-souala commented on #189
low-code cdk, is awesome. a game changer, companies will save a lot of money with this.

[2022-10-25 08:50] Dynnammo opened #192 "New source : Decidim"
# Decidim
## Introduction
[Decidim](Decidim is a digital platform for citizen participation) is a digital platform for citizen participation.

Used by about 400 cities in the world, the project is currently supported by the City Council of Barcelona, along with some integrators throughtout the world. Repository of the RoR project can be visited here : https://github.com/decidim/decidim.

## Connec

[2022-10-25 09:57] haithem-souala opened #193 "New Source - Sonar Cloud"
I would like to work on this: https://sonarcloud.io/

Thx

[2022-10-25 12:14] elliottrabac opened #194 "New source: Vitally"
Hi Airbyte!

I'd like to make a connector for Vitally (https://www.vitally.io/) using the low-code CDK.
This tool is a CMS platform that we are using a lot.

Can I work on it in for the contest?

[2022-10-25 13:42] aazam-gh commented on #187
@RealChrisSean the twilio task router api unfortunately doesn't support pagination, so I wont be able to build it with the Low-Code CDK :(

[2022-10-25 15:51] vickywane commented on #186
@RealChrisSean I have to drop support for the News API ( https://alpaca.markets/docs/market-data/news/ ) as it returns XML formatted data and not JSON. I'll focus on other Alpaca APIs that return JSON.

[2022-10-25 17:23] haithem-souala opened #195 "New Source - Toggl"
Hey, it's me again :)

I would like to work on this one: https://developers.track.toggl.com/docs/index.html

[2022-10-25 17:31] ayrotideysarkar commented on #192
Is this open?
If yes then i want to work on it🙂

[2022-10-25 18:13] btkcodedev opened #196 "New Source : Google WebFonts"
I would like to work on this source, [https://webfonts.googleapis.com/v1/webfonts?key=[API_KEY]](https://webfonts.googleapis.com/v1/webfonts?key=%5BAPI_KEY%5D)'
Single endpoint but useful with destinations

[2022-10-25 18:14] btkcodedev commented on #196
I would like to work on this source, https://webfonts.googleapis.com/v1/webfonts?key=[API_KEY]'
Single endpoint but useful with destinations

[2022-10-25 18:17] btkcodedev commented on #91
@RealChrisSean If the assignee is busy, can I work on this issue?

[2022-10-25 18:17] btkcodedev commented on #90
@RealChrisSean If the assignee is busy, can I work on this issue?

[2022-10-25 18:34] evwltrs commented on #90
Hi, I have pretty much finished the connector there is a pull request already open :D

[2022-10-25 19:31] RealChrisSean commented on #90
Amazing!!!

[2022-10-25 19:31] RealChrisSean commented on #90
Can you please link to the PR here? :)

[2022-10-25 19:45] RealChrisSean commented on #91
Hey @andresbravog hows it going? Could @btkcodedev takeover in case things got busy for you?

[2022-10-25 19:45] RealChrisSean commented on #91
@btkcodedev with the deadline looming, in case he doesn't get a chance to respond to us in 24hrs you can takeover :)

[2022-10-25 19:46] RealChrisSean commented on #196
This has been assigned to you

[2022-10-25 19:47] RealChrisSean commented on #192
This is taken @ayrotideysarkar but thanks for asking first :)

[2022-10-25 19:48] RealChrisSean commented on #195
Awesome! I have signed this to you. Which CDK will you be using?

[2022-10-25 19:50] RealChrisSean commented on #186
Sounds good! Thank you for the update :)

[2022-10-25 19:50] RealChrisSean commented on #187
Noooo I'm sorry about that :(

[2022-10-25 19:51] RealChrisSean commented on #187
Will you attempt this with the python cdk? :)

[2022-10-25 19:51] RealChrisSean commented on #194
Yes! I will assign this to you. Good luck :).

[2022-10-25 21:56] dainiussa commented on #191
Opened a pull request for this issue: https://github.com/airbytehq/airbyte/pull/18455 @RealChrisSean

[2022-10-25 22:06] sarafonseca-123 commented on #89
@RealChrisSean Since the PR was merged, can this issue be closed now?

[2022-10-25 22:06] RealChrisSean commented on #191
Amazing!!

[2022-10-25 22:08] RealChrisSean commented on #89
Hi @sarafonseca-123 I will close all of the issues a week or so after Hacktoberfest to help me track everything and make sure everyone gets paid :)

Btw! Congrats on having your PR merged :).

[2022-10-25 22:14] sarafonseca-123 commented on #89
Thanks!

So I will take down the closing command from the [RD Station PR](https://github.com/airbytehq/airbyte/pull/18348) 😱

[2022-10-25 23:55] RealChrisSean commented on #193
I have assigned this to you good luck!

[2022-10-25 23:56] RealChrisSean commented on #193
Will you use the low-code CDK?

[2022-10-26 04:39] aazam-gh commented on #187
I'll give it a shot!

[2022-10-26 04:43] RealChrisSean commented on #187
Good luck :)

[2022-10-26 07:37] Dynnammo commented on #192
If you want to help out @ayrotideysarkar you can take a look on the draft PR I began here : https://github.com/airbytehq/airbyte/pull/18415

[2022-10-26 07:54] deveshchatuphale7 opened #197 "New Source: AstraDB"
https://www.datastax.com/products/datastax-astra/apis

[2022-10-26 07:54] deveshchatuphale7 commented on #197
Hey @RealChrisSean, I would like to work on this one

[2022-10-26 08:39] haithem-souala commented on #195
Low Code CDK

[2022-10-26 08:39] haithem-souala commented on #193
Low Code CDK

[2022-10-26 09:35] haithem-souala commented on #184
The API is not well documented, and its poor.

[2022-10-26 09:36] haithem-souala commented on #184
If anyone wanna jump on, feel welcome.

[2022-10-26 10:53] andresbravog commented on #91
@RealChrisSean I'd like to finish if possible.

When is the deadline?

I'm currently blocked by https://github.com/airbytehq/airbyte/issues/17957 , but planning to have a look at it. I'll push my code.

[2022-10-26 12:21] haithem-souala commented on #193
PR: https://github.com/airbytehq/airbyte/pull/18475

[2022-10-26 12:49] haithem-souala opened #198 "New source - Chargebee"
Hey

I would like to work on this one: https://apidocs.eu.chargebee.com/docs/

Low code cdk

[2022-10-26 14:00] btkcodedev commented on #91
Okay. If it is blocked, then I would like a chance to hit on that with different cdk.
Please reply if that is okay for @andresbravog.

[2022-10-26 15:55] andresbravog commented on #91
@btkcodedev sorry if my answer was not clear here, if I have a choice I'd like to give it a try and fix the blocker, if I don't you are good to go.

[2022-10-26 15:59] btkcodedev commented on #91
@andresbravog  Cheers, fine then, Please give it a try with a specified time schedule as of the deadline approaching.

[2022-10-26 16:37] btkcodedev commented on #196
@RealChrisSean Done & Done.
https://github.com/airbytehq/airbyte/pull/18496
Build of the connector is only left to do
Waiting for review

Thanks :)

[2022-10-26 16:58] RealChrisSean commented on #196
Amazing!

[2022-10-26 17:45] btkcodedev commented on #138
@RealChrisSean Could you please make an update with this issue?
If the assignee is busy, I could work on it.

[2022-10-26 17:50] btkcodedev commented on #137
@RealChrisSean If the assignee is busy, I could work on it.
Could you please make an update with this issue?

[2022-10-26 18:02] bala-ceg opened #199 "New Source - InfluxDB"
API Reference:
https://docs.influxdata.com/influxdb/v2.4/api-guide/tutorials/python/

[2022-10-26 18:03] bala-ceg commented on #199
Hi @RealChrisSean, I would like to work on this one

[2022-10-26 18:17] #198 closed, assigned to nobody

[2022-10-26 18:17] haithem-souala commented on #198
Already exist.

[2022-10-26 18:20] bala-ceg opened #200 "New Source: Telegram"
Reference:
https://core.telegram.org/api#getting-started

[2022-10-26 18:21] btkcodedev commented on #91
@andresbravog I think I Could help in the issue with yaml file. Can we form a team for this connector development? will try to resolve the issue if possible. Expecting your reply

[2022-10-26 18:21] bala-ceg commented on #200
Hi @RealChrisSean, I would like to work on this one

[2022-10-26 18:21] RealChrisSean commented on #200
Awesome I have assigned this to you. Will you use our low code cdk?

[2022-10-26 18:39] RealChrisSean commented on #199
Awesome I have assigned this to you. Good luck :). Which CDK will you be using?

[2022-10-26 18:43] RealChrisSean commented on #137
Hey @jay-tau how is it going so far? Is there anything we can help with?

@btkcodedev Please correct me if I'm wrong, but I believe you are working on another connector at the moment. If not, in case jay is busy and doesn't get back to us within 24 hours you can take this over.

[2022-10-26 18:44] RealChrisSean commented on #138
Hey @eigengravy how are things going? :)

[2022-10-26 18:48] RealChrisSean commented on #193
This is amazing!

[2022-10-26 18:49] RealChrisSean commented on #184
@btkcodedev this is up for the taking

[2022-10-26 18:49] RealChrisSean commented on #195
Amazing good luck :)

[2022-10-26 18:50] RealChrisSean commented on #197
Excellent! This has been assigned to you :)

[2022-10-26 18:50] RealChrisSean commented on #197
Will you attempt this with our low-code cdk?

[2022-10-26 18:54] RealChrisSean commented on #189
That is awesome to hear!

[2022-10-26 18:56] haithem-souala commented on #188
@RealChrisSean please can u add pr submitted label? thx.

[2022-10-26 18:57] RealChrisSean commented on #188
Done :)

[2022-10-26 19:50] kaggrwal opened #201 "New Source: Bitfinex"
Connector for bitfinex to check tickers, crypto pairs.

Ref: https://www.bitfinex.com/

[2022-10-26 19:51] kaggrwal commented on #201
Hi @RealChrisSean, I would like to work on this connector. Kindly assign this to me.

[2022-10-26 19:56] haithem-souala commented on #195
PR: https://github.com/airbytehq/airbyte/pull/18507

[2022-10-26 20:01] RealChrisSean commented on #195
Amazing!

[2022-10-26 20:13] haithem-souala opened #202 "New Source - Coinmarketcap"
Hey,

I wanna work on this one: https://coinmarketcap.com/api/

Low code cdk.

Thanks

[2022-10-27 00:08] deanmalan opened #203 "New Source: Recruitee"
I'd like to add a connector for Recruitee using the low-code SDK :)

https://docs.recruitee.com/reference/getting-started

[2022-10-27 01:16] RealChrisSean opened #204 "New Source: News API"
@isaacharrisholt for reference. Congrats :)

[2022-10-27 01:16] RealChrisSean commented on #204
https://github.com/airbytehq/airbyte/pull/18301

[2022-10-27 02:56] bala-ceg commented on #199
Thanks @RealChrisSean, I would like to attempt this using low code cdk

[2022-10-27 02:58] bala-ceg commented on #200
Thanks @RealChrisSean, I would like to attempt this using low code cdk

[2022-10-27 04:36] jay-tau commented on #137
I am having some trouble. I think it would be better if @btkcodedev picks up this issue.

[2022-10-27 06:33] btkcodedev commented on #137
@jay-tau Thanks
@RealChrisSean Please assign this to me

[2022-10-27 09:05] xlahuerta opened #205 "New Source: Newsdata"
I'd like to add a connector for Newsdata.io using the low-code SDK :)

https://newsdata.io/docs

[2022-10-27 09:45] haithem-souala opened #206 "New Source - Rocket.chat"
Hey,

I would like to work on this one: https://developer.rocket.chat/reference/api/rest-api

Low code cdk.

Thanks.

[2022-10-27 12:59] scottleechua commented on #181
In progress on fork!

[2022-10-27 13:51] elliottrabac opened #207 "New source: Parnerstack"
Hi team!

I would like to build a connector for Partnerstack (https://partnerstack.com/) using the low-code CDK.
Can I work on it in for the contest? I should be able to submit it before the ETA :)

[2022-10-27 16:53] NoelJacob commented on #154
Hey @RealChrisSean can I take this up?

[2022-10-27 17:15] btkcodedev commented on #138
@RealChrisSean As the assignee hadn't responded till this long, I would like to work on it.
I've already raised PR's for all assigned issues :)
As I am free, Please assign this to me, if possible.

[2022-10-27 18:40] btkcodedev commented on #196
@RealChrisSean Update: The PR has been approved and build has been published.
Cheers!

[2022-10-27 20:30] haithem-souala commented on #202
PR: https://github.com/airbytehq/airbyte/pull/18565

[2022-10-27 20:55] RealChrisSean commented on #202
Amazing! You are making these connectors very fast lol. Any critiques or anything you think that could help improve the low code CDK would be very helpful :)

[2022-10-27 20:57] RealChrisSean commented on #196
Amazing!!!!!! How are you liking the low-code CDK so far?

[2022-10-27 20:58] RealChrisSean commented on #196
I will mark this as complete as soon as your PR is merged :)

[2022-10-27 20:59] RealChrisSean commented on #138
Go for it :) @btkcodedev

[2022-10-27 20:59] haithem-souala commented on #202
LooL :)

Yeah, it would be cool, if you add to the connector template:
* documentationUrl in spec.yaml (documentationUrl: https://docs.airbyte.com/integrations/sources/CONNECTOR_NAME)
* properties -> title in spec.yaml

[2022-10-27 20:59] RealChrisSean commented on #154
@NoelJacob yes! :D

[2022-10-27 21:00] RealChrisSean commented on #202
Awesome! This has been noted :D. cc @misteryeo

Thanks @haithem-souala :)

[2022-10-27 21:02] haithem-souala commented on #202
Otherwise, the CDK is already stable, every time i look for something i found it.

[2022-10-27 21:06] RealChrisSean commented on #207
Go for it! :D

[2022-10-27 21:06] RealChrisSean commented on #206
Amazing! I have assigned this to you :).

[2022-10-27 21:07] RealChrisSean commented on #181
NICE!!!

[2022-10-27 21:08] RealChrisSean commented on #205
I have assigned this to you. Good luck!

[2022-10-27 21:08] RealChrisSean commented on #19
Amazing!

[2022-10-27 21:09] RealChrisSean commented on #19
I will re-open this and close it at the end of hacktoberfest to help me track everything. Good job with this! :)

[2022-10-27 21:10] RealChrisSean commented on #137
Thanks for getting back to us so quickly @jay-tau. I have assigned this to you @btkcodedev

[2022-10-27 21:11] RealChrisSean commented on #200
Awesome good luck :)

[2022-10-27 21:12] RealChrisSean commented on #199
Awesome good luck :)

[2022-10-27 21:14] RealChrisSean commented on #203
Awesome good luck :)

[2022-10-27 23:20] dainiussa commented on #180
Opened a PR for this issue: https://github.com/airbytehq/airbyte/pull/18577

[2022-10-27 23:22] xlahuerta commented on #205
PR https://github.com/airbytehq/airbyte/pull/18576

[2022-10-28 01:17] #150 closed, assigned to deanmalan

[2022-10-28 06:44] scottleechua commented on #181
Update -- currently on pause due to API Invalid errors -- I'm in communication with the data source to see if it's an API issue!

[2022-10-28 06:45] scottleechua opened #208 "New Source: Plausible.io"
Hello! I'd like to try using the low-code CDK to create a [Plausible Analytics](https://plausible.io/docs/stats-api) connector. :)

(P.S. the [other issue](https://github.com/airbytehq/connector-contest/issues/181) I'm working on is on hold due to API errors.)

[2022-10-28 08:26] jhammarstedt commented on #161
Here's my initial draft https://github.com/airbytehq/airbyte/pull/18593

Will work on the tests now

[2022-10-28 09:03] DainiusSal opened #209 "New Source: Smaily"
Hi, I would like to work on this source using Low-Code CDK. API docs: https://smaily.com/help/api/

[2022-10-28 12:06] himanshuc3 opened #210 "New source: Coda"
Hi, I would like to work on this source using connector for coda.
API documentation: https://coda.io/developers/apis/v1#section/Introduction

Is it up for grabs @RealChrisSean @avaidyanatha

[2022-10-28 12:06] andresbravog commented on #91
Thanks for the offer @btkcodedev , I think I have everything under control now!

[2022-10-28 12:07] cirdes opened #211 "New Source: Mailersend"
Hi,

I'd like to add a source for Mailersend using the low-code SDK.

https://developers.mailersend.com/#mailersend-api

[2022-10-28 14:04] sarafonseca-123 opened #212 "New source: Pagar.me"
Pagar.me is a popular Brazilian fintech, that offers payment solutions for vendors. They have 5 versions of the same API, and I would like to do the connector using the V1 (the only I have access) and the Python CDK.

[2022-10-28 15:19] #209 closed, assigned to nobody

[2022-10-28 15:20] dainiussa opened #213 "New Source: Smaily"
Hi, I would like to work on this source using Low-Code CDK. API docs: https://smaily.com/help/api @RealChrisSean

[2022-10-28 16:38] btkcodedev commented on #196
@RealChrisSean Update: Approved & Merged!
Also Low-code CDK is amazing. Big cheers for the brains behind it.
PS: Always appreciating the efforts of @RealChrisSean & [marcosmarxm](https://github.com/marcosmarxm) for the maintainer's work, you guys are amazing.

[2022-10-28 17:49] cirdes commented on #105
@RealChrisSean , the PR was merged https://github.com/airbytehq/airbyte/pull/18036

[2022-10-28 17:50] cirdes commented on #155
@RealChrisSean , the PR was merged https://github.com/airbytehq/airbyte/pull/18349

[2022-10-28 17:58] RealChrisSean commented on #155
AMAZING!!!!

[2022-10-28 18:03] RealChrisSean commented on #155
Congrats :)

[2022-10-28 18:04] RealChrisSean commented on #165
:D

[2022-10-28 18:04] RealChrisSean commented on #166
Closing as complete

[2022-10-28 18:05] RealChrisSean commented on #204
closing as complete

[2022-10-28 18:06] RealChrisSean commented on #165
Closing as complete

[2022-10-28 18:06] #165 closed, assigned to gpsamson

[2022-10-28 18:06] RealChrisSean commented on #166
Closing as complete

[2022-10-28 18:06] #166 closed, assigned to nobody

[2022-10-28 18:06] RealChrisSean commented on #159
Closing as complete

[2022-10-28 18:06] #159 closed, assigned to henriblancke

[2022-10-28 18:06] RealChrisSean commented on #155
Closing as complete

[2022-10-28 18:06] #155 closed, assigned to cirdes

[2022-10-28 18:07] RealChrisSean commented on #143
Closing as complete

[2022-10-28 18:07] #143 closed

[2022-10-28 18:07] RealChrisSean commented on #140
Closing as complete

[2022-10-28 18:07] #140 closed

[2022-10-28 18:07] RealChrisSean commented on #89
Closing as complete

[2022-10-28 18:07] #89 closed

[2022-10-28 18:08] RealChrisSean commented on #19
Closing as complete

[2022-10-28 18:08] #19 closed

[2022-10-28 18:10] #204 closed, assigned to nobody

[2022-10-28 18:13] RealChrisSean commented on #105
AMAZING! Congrats @cirdes :D

[2022-10-28 18:13] #105 closed

[2022-10-28 18:13] xlahuerta opened #214 "New Source: Pocket"
I'd like to add a connector for [Pocket](https://getpocket.com/developer/docs/overview) using the low-code CDK :)

[2022-10-28 18:16] RealChrisSean commented on #127
MERGED! Congrats @sbrickel-nimble

[2022-10-28 18:16] #127 closed

[2022-10-28 18:17] RealChrisSean commented on #127
@sbrickel-nimble can you please update your GitHub account where it will show your email on your profile so we can send you the proper payment once we sent out everyone's prizes? Thanks!

[2022-10-28 18:17] RealChrisSean commented on #214
Awesome! Good luck :D

[2022-10-28 18:18] RealChrisSean commented on #196
This is amazing! Congrats! :)

Can you please make sure your email is visible on your profile so we can contact you once we start sending payments out?

Thank you!

[2022-10-28 18:18] #196 closed, assigned to btkcodedev

[2022-10-28 18:19] RealChrisSean commented on #213
Amazing! I have assigned this to you. Good luck :)

[2022-10-28 18:19] RealChrisSean commented on #209
:(

[2022-10-28 18:20] RealChrisSean commented on #212
Awesome good luck with this

[2022-10-28 18:25] RealChrisSean commented on #211
Awesome good luck :D

[2022-10-28 18:26] RealChrisSean commented on #91
:D

[2022-10-28 18:27] RealChrisSean commented on #210
Hi @himanshuc3 it is available. Will you use our Python CDK or low-code? Good luck :)

[2022-10-28 18:29] RealChrisSean commented on #161
Amazing! :)

[2022-10-28 18:30] RealChrisSean commented on #208
Awesome! I have assigned this to you. Good luck :)

[2022-10-28 18:50] RealChrisSean commented on #181
Sorry to hear that! :(

[2022-10-28 18:51] RealChrisSean commented on #150
Amazing! Congrats @delenamalan how was it working with the low-code cdk?

[2022-10-28 19:07] kaggrwal commented on #201
closing as Bitfinex APIs doesn't have well defined structure,

[2022-10-28 19:07] #201 closed, assigned to kaggrwal

[2022-10-28 19:34] haithem-souala opened #215 "New Source - Configcat"
Hi,

I would like to work on this one: https://api.configcat.com/docs/#section/OpenAPI-Specification

Low code cdk.

Thanks.

[2022-10-28 19:36] haithem-souala commented on #170
PR Merged!

[2022-10-28 19:36] #170 closed, assigned to haithem-souala

[2022-10-28 19:43] RealChrisSean commented on #215
This has been assigned to you :)

[2022-10-28 19:47] haithem-souala opened #216 "New Source - launchdarkly"
Hey,

I would like to work on this one: https://apidocs.launchdarkly.com/#section/Overview

Low code CDK.

Thanks

[2022-10-28 19:57] haithem-souala opened #217 "New Source - Statuspage.io"
Hi,

I would like to work on this one: https://developer.statuspage.io/

Low code cdk,

Thank you!

[2022-10-28 20:35] jrhizor opened #218 "RSS feed source"
related: https://github.com/airbytehq/airbyte/issues/5249

I'd like to work on this. I'll use the normal Python CDK.

[2022-10-28 21:00] YiyangLi commented on #34
![Screenshot 2022-10-28 at 1 52 05 PM](https://user-images.githubusercontent.com/6293908/198730428-62e94945-0df9-4ba1-8885-808c8aa25fac.png)

I have to give up the work on Pendo. In order to get the API key, I have to upgrade.

I met the account executive in a zoom call. They can't just generate a key on a free account. I request an upgrade but I was rejected because I work for the direct competit

[2022-10-28 21:15] NoelJacob commented on #154
Submitted PR: https://github.com/airbytehq/airbyte/pull/18632#issue-1427839749

[2022-10-28 21:52] RealChrisSean commented on #218
Awesome I have assigned this to you :)

[2022-10-28 22:09] haithem-souala commented on #206
PR: https://github.com/airbytehq/airbyte/pull/18635

[2022-10-28 22:51] RealChrisSean commented on #206
You are way too fast at this @haithem-souala haha. Thanks for the heads up. :D

[2022-10-28 22:52] RealChrisSean commented on #154
Amazing!

[2022-10-28 22:54] RealChrisSean commented on #34
Hi @YiyangLi I am so sorry to hear that. I will see if we can get an API for you. Unfortunately, I may not be able to get back to you until Monday or Tuesday with the weekend looming. As long as you submit ANY PR by or on 11/2, whether it is approved or not, you will have two weeks after 11/2 to have your PR merged.

[2022-10-28 22:57] RealChrisSean commented on #217
Awesome!

[2022-10-28 22:59] RealChrisSean commented on #216
This has been assigned to you. Good luck :).

[2022-10-28 23:00] RealChrisSean commented on #170
AMAZING!

[2022-10-28 23:03] RealChrisSean commented on #205
Amazing!!

[2022-10-28 23:04] RealChrisSean commented on #180
Awesome!

[2022-10-28 23:55] RealChrisSean commented on #172
Complete

[2022-10-28 23:55] #172 closed, assigned to nobody

[2022-10-28 23:57] RealChrisSean commented on #104
Merged. Congrats @RobLucchi :D

[2022-10-28 23:57] #104 closed

[2022-10-28 23:59] RealChrisSean commented on #126
Congrats on having this merged @alexchouraki :D

[2022-10-28 23:59] #126 closed

[2022-10-29 00:02] RealChrisSean commented on #101
Congrats on having this merged!

[2022-10-29 00:02] #101 closed

[2022-10-29 00:03] RealChrisSean commented on #143
Congrats :)

[2022-10-29 00:06] RealChrisSean commented on #111
Congrats on having this merged!

[2022-10-29 00:06] #111 closed

[2022-10-29 00:08] RealChrisSean commented on #175
Congrats on having this merged @isaacharrisholt

[2022-10-29 00:08] #175 closed, assigned to nobody

[2022-10-29 00:13] RealChrisSean opened #219 "Coin API"
https://github.com/airbytehq/airbyte/pull/18302

merged reference: @isaacharrisholt

[2022-10-29 00:13] RealChrisSean commented on #219
Congrats on having this merged!

[2022-10-29 00:13] #219 closed, assigned to nobody

[2022-10-29 00:15] RealChrisSean opened #220 "New Source: TVMaze Schedule"
https://github.com/airbytehq/airbyte/pull/18333

Merged. Reference @isaacharrisholt

[2022-10-29 00:16] RealChrisSean commented on #220
Congrats on having this merged!

[2022-10-29 00:16] #220 closed, assigned to nobody

[2022-10-29 00:17] RealChrisSean commented on #131
Congrats on having this merged @elliottrabac!

[2022-10-29 00:17] #131 closed

[2022-10-29 00:18] RealChrisSean commented on #167
Congrats on having this merged!

[2022-10-29 00:18] #167 closed, assigned to dainiussa

[2022-10-29 00:19] RealChrisSean commented on #128
Congrats on having this merged!

[2022-10-29 00:19] #128 closed

[2022-10-29 00:20] RealChrisSean commented on #119
Congrats on having this merged :D

[2022-10-29 00:20] #119 closed

[2022-10-29 00:21] RealChrisSean commented on #171
Congrats on having this merged!

[2022-10-29 00:21] #171 closed, assigned to haithem-souala

[2022-10-29 00:22] RealChrisSean commented on #169
Congrats on having this merged!

[2022-10-29 00:22] #169 closed, assigned to Xabilahu

[2022-10-29 00:22] RealChrisSean commented on #191
Congrats on having this merged :)

[2022-10-29 00:22] #191 closed, assigned to dainiussa

[2022-10-29 00:23] RealChrisSean commented on #193
Congrats on having this merged!

[2022-10-29 00:23] #193 closed, assigned to haithem-souala

[2022-10-29 00:25] RealChrisSean commented on #111
https://github.com/airbytehq/airbyte/issues/17772

[2022-10-29 00:28] RealChrisSean opened #221 "New Source: Google Ad Manager"
https://github.com/airbytehq/airbyte/pull/18293

PR submitted.

Reference: @espoirMur

[2022-10-29 00:31] RealChrisSean opened #222 "🎉 New Source: Alpha Vantage #18320"
PR: https://github.com/airbytehq/airbyte/pull/18320

Reference: @isaacharrisholt

[2022-10-29 00:32] RealChrisSean opened #223 "🎉 New Source: Google Mobility Reports [low-code cdk] #18330"
https://github.com/airbytehq/airbyte/pull/18330

PR:

[2022-10-29 00:33] RealChrisSean commented on #223
duplicate

[2022-10-29 00:33] #223 closed, assigned to nobody

[2022-10-29 00:35] RealChrisSean commented on #90
https://github.com/airbytehq/airbyte/pull/18343

[2022-10-29 00:36] RealChrisSean opened #224 "🎉 New Source: UK Police #18344"
pr: @isaacharrisholt

https://github.com/airbytehq/airbyte/pull/18344

[2022-10-29 00:37] RealChrisSean commented on #163
https://github.com/airbytehq/airbyte/pull/18395

[2022-10-29 00:39] RealChrisSean opened #225 "🎉 New Source: Convex.dev #18403"
https://github.com/airbytehq/airbyte/pull/18403

@ldanilek pr submitted

[2022-10-29 00:45] RealChrisSean commented on #207
https://github.com/airbytehq/airbyte/pull/18603

[2022-10-29 00:56] pabloescoder commented on #143
Thank you!! :D

[2022-10-29 05:19] scottleechua commented on #181
Settled issue, opened a [PR](https://github.com/airbytehq/airbyte/pull/18647) on the main repo!

[2022-10-29 08:30] himanshuc3 commented on #210
Python CDK would serve the purpose @RealChrisSean

[2022-10-29 10:06] evwltrs commented on #90
@RealChrisSean even if the team dont find time to review before the end of october, since it's locked in does that mean I am still eligible for the bounty?

[2022-10-29 12:54] Alcadeus0 commented on #187
Do all the streams need to be implemented in a separate streams.py file? Because the cdk shows that they all are declared in the source.py file but when i checked other connectors I found that its split

[2022-10-29 15:40] sarafonseca-123 opened #226 "New Source: Breezometer"
This API forecasts the pollen conditions for a given location, allowing for issuing alerts. API documentation: https://docs.breezometer.com/api-documentation/pollen-api/v2/#daily-forecast. I'd like to do this one with the low code connector :)

[2022-10-29 16:11] haithem-souala commented on #215
PR: https://github.com/airbytehq/airbyte/pull/18649

[2022-10-29 16:27] sarafonseca-123 commented on #226
PR: https://github.com/airbytehq/airbyte/pull/18650

[2022-10-29 16:27] haithem-souala opened #227 "New Source - vantage.sh"
Hey,

I would like to work on this one: https://vantage.readme.io/reference/general
Low-code cdk.

Thanks!

[2022-10-29 16:32] sarafonseca-123 opened #228 "New Source: Breezometer Air quality API"
This API forecasts the hourly air quality levels for a given location. API documentation: https://docs.breezometer.com/api-documentation/air-quality-api/v2/#hourly-forecast. I'd like to do this one with the low code connector :)

[2022-10-29 17:38] kaggrwal opened #229 "New Source: Ip2WhoisAPI"
This API provides the WhoIs information for any domain. [Ip2Whois](https://www.ip2whois.com/)

[2022-10-29 17:39] kaggrwal commented on #229
This API provides the WhoIs information for any domain. [Ip2Whois](https://www.ip2whois.com/)

[2022-10-29 18:05] RealChrisSean commented on #229
Amazing. Will you use the low code CDK for this?

[2022-10-29 18:06] RealChrisSean commented on #226
Wow that was fast 😎

[2022-10-29 18:07] RealChrisSean commented on #215
Amazing!

[2022-10-29 18:08] RealChrisSean commented on #90
As long as your PR is submitted and you fix any issues after the 11/2
deadline you’ll be good to go! So yes your are. :)

On Sat, Oct 29, 2022 at 3:06 AM ev ***@***.***> wrote:

[2022-10-29 18:09] kaggrwal commented on #229
@RealChrisSean Yes, i have used low code cdk.

I have already raised the PR. Please review and merge it.
[PR](https://github.com/airbytehq/airbyte/pull/18661)

[2022-10-29 19:30] btkcodedev commented on #138
@RealChrisSean Unassigning this issue as it has no specified REST endpoints and no usage as a connector. It will be useless for airbyte.

[2022-10-29 19:34] btkcodedev opened #230 "New source: Bored API"
https://www.boredapi.com/documentation
Method: Low-code CDK
Just single endpoint

[2022-10-29 19:35] btkcodedev commented on #230
@RealChrisSean I wish to take it

[2022-10-29 19:46] btkcodedev opened #231 "New source: Punk API"
https://punkapi.com/documentation/v2
Method: Low-code CDK
I wish to work on this

[2022-10-29 19:48] btkcodedev opened #232 "New Source: Pexels API"
https://www.pexels.com/api/documentation/#collections-overview
method: low-code cdk
I wish to take it

[2022-10-29 19:48] #232 closed, assigned to nobody

[2022-10-29 19:54] RealChrisSean commented on #138
Thank you for clarifying

[2022-10-29 21:35] sarafonseca-123 commented on #228
PR: https://github.com/airbytehq/airbyte/pull/18650

[2022-10-29 21:40] sarafonseca-123 opened #233 "New source: IFTTT"
If This Than That is a service that integrates apps, devices, and services. API documentation: https://ifttt.com/docs/connect_api#show-a-connection. I'd like to do this one using the low-code SDK :)

[2022-10-29 22:17] #233 closed, assigned to nobody

[2022-10-29 22:18] sarafonseca-123 commented on #233
I wasn't able to do a good integration without a service of my own.

[2022-10-30 02:27] xlahuerta commented on #214
PR https://github.com/airbytehq/airbyte/pull/18655

[2022-10-30 03:03] btkcodedev commented on #231
@RealChrisSean In the hopes of assignment and to not waste time, I've started working on the api,
Very useful for various destinations as training data for ML models
Thanks! and happy weekend :)

[2022-10-30 03:18] RealChrisSean commented on #231
Good luck!

[2022-10-30 09:20] scottleechua commented on #208
Opened a [PR](https://github.com/airbytehq/airbyte/pull/18657) for this connector!

[2022-10-30 11:17] haithem-souala opened #234 "New Source - Intruder"
Hi,

I would like to work on this one: https://developers.intruder.io/docs

Thank you!

[2022-10-30 12:22] haithem-souala commented on #216
PR: https://github.com/airbytehq/airbyte/pull/18660

[2022-10-30 12:48] jhammarstedt opened #235 "New Alternative source: UberEats"
Hi I saw that someone is working on the Python CDK for uber eats, would it be fine if I built it with the low-code CDK?

[2022-10-30 14:17] haithem-souala commented on #217
PR: https://github.com/airbytehq/airbyte/pull/18664

[2022-10-30 16:21] haithem-souala commented on #227
PR: https://github.com/airbytehq/airbyte/pull/18665

[2022-10-30 18:27] jhammarstedt commented on #235
I wanted to do DoorDash first but saw that it has JWT-auth which is not supported for the low-code CDK right?

[2022-10-30 19:16] haithem-souala commented on #234
PR: https://github.com/airbytehq/airbyte/pull/18668

[2022-10-30 20:04] jhammarstedt commented on #25
@RealChrisSean Would it be possible to still do the low-code CDK for this one as part of the hackathon?

[2022-10-30 21:02] cirdes opened #236 "New Source: n8n"
Hi,

I'd like to add a source for [N8n](https://n8n.io/) using the low-code SDK. N8n is an extendable workflow automation tool

https://docs.n8n.io/api/

[2022-10-30 21:09] dainiussa commented on #213
Opened a PR for this: https://github.com/airbytehq/airbyte/pull/18674

[2022-10-30 21:11] #235 closed, assigned to nobody

[2022-10-30 21:12] jhammarstedt opened #237 "🎉New source: Datascope"
Hi, I would like to work on this using the low-code CDK

[2022-10-30 21:45] dainiussa opened #238 "New Source: SmartEngage"
Hi, I would like to work on this source using Low-Code CDK. API docs: https://smartengage.com/docs/#smartengage-api @RealChrisSean

[2022-10-31 06:49] xlahuerta opened #239 "New Source: New York Times"
I'd like to add a connector for NY Times using the low-code CDK :)

[https://developer.nytimes.com](https://developer.nytimes.com/)

[2022-10-31 07:46] akashpatl commented on #160
@artusiep has built this! Here is the PR

https://github.com/airbytehq/airbyte/pull/18385

[2022-10-31 07:47] akashpatl opened #240 "New Source: Younium"
### I would like to build a Python CDK source for B2B subscription management platform Younium

[2022-10-31 08:19] ghost commented on #127
My email address is now public.

[2022-10-31 09:54] haithem-souala opened #241 "New Source - Sendinblue"
Hi,

I woud like to work on this one: [sendinblue](https://developers.sendinblue.com/)
Low-code cdk.

Thank YOU!

[2022-10-31 13:10] aazam-gh commented on #187
@RealChrisSean  I've built the connector using the Low Code CDK !!!
Let me know what changes need to be taken care of :)
https://github.com/airbytehq/airbyte/pull/18685

[2022-10-31 13:20] akashpatl commented on #240
Id' like to work on this!

[2022-10-31 13:38] haithem-souala opened #242 "New Source - getLago"
Hi,

I would like to work on this one: https://doc.getlago.com/docs/guide/intro/welcome

low-code cdk.

Thank YOU!

[2022-10-31 14:20] btkcodedev commented on #230
I'd like to work on this

[2022-10-31 14:20] btkcodedev commented on #230
PS: Other issues PR submitted

[2022-10-31 17:15] RealChrisSean commented on #230
Awesome! :)

[2022-10-31 17:30] RealChrisSean commented on #240
Amazing! I have assigned this to you :)

[2022-10-31 17:30] RealChrisSean commented on #187
Amazing!

[2022-10-31 17:31] RealChrisSean commented on #241
Good luck!

[2022-10-31 17:32] btkcodedev commented on #231
Update: PR submitted

[2022-10-31 17:32] RealChrisSean commented on #160
Awesome! Thank you for the update :)

[2022-10-31 17:33] bala-ceg opened #243 "New Source: Atlassian Jira"
I know we have Jira python-based connector.
But I would like to work on this as low-code CDK.

[2022-10-31 17:33] RealChrisSean commented on #231
Amazing!

[2022-10-31 17:33] bala-ceg commented on #243
@RealChrisSean Please consider my request to work on this

[2022-10-31 17:34] RealChrisSean commented on #243
Sorry @bala-ceg we can't accept that connector :(

[2022-10-31 17:35] bala-ceg commented on #243
No Problem thanks for considering

[2022-10-31 17:38] RealChrisSean commented on #239
This has been assigned to you :)

[2022-10-31 17:40] jhammarstedt commented on #237
Here's my PR :)

https://github.com/airbytehq/airbyte/pull/18725

[2022-10-31 17:40] andnig opened #244 "New connector: senseforce.io"
Hey,

I'd like to work on https://senseforce.io/?lang=en
Senseforce provides a quite nice solution for Industrial IoT.
Export IoT Data to Data Warehouses seem to be a nice use case for Senseforce users.

Lowcode CDK

Can I work on that?

[2022-10-31 17:40] RealChrisSean commented on #237
Amazing!

[2022-10-31 17:41] bala-ceg opened #245 "New Source: Twitter"
https://developer.twitter.com/en/docs/twitter-api
Method: Low code CDK

[2022-10-31 17:41] RealChrisSean commented on #244
This has been assigned to you :)

[2022-10-31 17:42] bala-ceg commented on #245
@RealChrisSean I would like to work on this

[2022-10-31 17:42] haithem-souala commented on #241
Ohhh Chris, i missed your notifications man :)

[2022-10-31 17:51] haithem-souala commented on #242
PR: https://github.com/airbytehq/airbyte/pull/18727

[2022-10-31 17:53] #243 closed, assigned to nobody

[2022-10-31 18:15] bala-ceg opened #246 "New Source: Grafana"
https://grafana.com/docs/grafana/v9.0/developers/http_api/
Method: Low code CDK

[2022-10-31 18:16] bala-ceg commented on #246
@RealChrisSean I would like to work on this

[2022-10-31 23:27] cirdes commented on #236
This is the [PR](https://github.com/airbytehq/airbyte/pull/18745)

[2022-11-01 00:04] RealChrisSean commented on #236
Amazing :)

[2022-11-01 00:08] RealChrisSean commented on #246
Awesome I have assigned this to you. :)

[2022-11-01 00:10] RealChrisSean commented on #241
:D

[2022-11-01 00:10] RealChrisSean commented on #245
Hi I have assigned this to you.

[2022-11-01 00:11] RealChrisSean commented on #213
Amazing!

[2022-11-01 00:14] RealChrisSean commented on #234
I can't keep up with you lol

[2022-11-01 00:15] RealChrisSean commented on #25
Yes, you can. As long as you submit a PR by 11:59 pm PST 11/02/22. :)

[2022-11-01 00:16] RealChrisSean commented on #25
@jhammarstedt I have assigned this issue to you.

[2022-11-01 00:17] RealChrisSean commented on #217
Amazing!

[2022-11-01 01:04] RealChrisSean commented on #208
Amazing!

[2022-11-01 01:06] RealChrisSean commented on #214
Amazing! :)

[2022-11-01 01:07] RealChrisSean commented on #228
Amazing!

[2022-11-01 01:07] xlahuerta commented on #239
PR https://github.com/airbytehq/airbyte/pull/18746

[2022-11-01 01:08] RealChrisSean commented on #229
Amazing!

[2022-11-01 01:09] RealChrisSean commented on #210
Sounds good!

[2022-11-01 01:09] RealChrisSean commented on #181
Amazing!

[2022-11-01 02:08] itaseskii opened #247 "New Destination: Redpanda"
I would like to work on a [Redpanda](https://redpanda.com/) destination connector next.

[2022-11-01 02:09] itaseskii commented on #247
@RealChrisSean

[2022-11-01 05:48] michizhou opened #248 "New Source: Tomorrow.io"
I'd like to add a new connector for Tomorrow.io using the low-code SDK!

Documentation: https://docs.tomorrow.io/reference/api-introduction

[2022-11-01 08:26] Harshil0512 opened #249 "New Source : Quotes API"
I would like to work on connector for Quotes API .
Link : https://type.fit/api/quotes

[2022-11-01 11:06] Harshil0512 commented on #249
Please Review My PR

https://github.com/airbytehq/airbyte/pull/18768

[2022-11-01 12:54] haithem-souala commented on #241
My last PR: https://github.com/airbytehq/airbyte/pull/18771
It was a great journey!
Thank you @RealChrisSean !

[2022-11-01 13:36] andnig commented on #244
Hey,
I added a PR for that issue. Just in time I hope :-) [#18775](https://github.com/airbytehq/airbyte/pull/18775)
Also added two issues, I couldn't find any open/closed issues which might be related. If they are not relevant, let me know.
- [#18769](https://github.com/airbytehq/airbyte/issues/18769)
- [#18767](https://github.com/airbytehq/airbyte/issues/18767)

Somewhere I read we need to make s

[2022-11-01 13:36] #183 closed, assigned to YiyangLi

[2022-11-01 13:38] btkcodedev opened #250 "🎉New Source: Pexels API"
https://www.pexels.com/api/documentation/#collections-overview
method: low-code cdk
I wish to take it

[2022-11-01 13:40] andnig commented on #244
One question actually: How can I provide you the credentials for the sandbox account?

[2022-11-01 14:35] Azanul commented on #53
I won't be able to complete this on time, I still haven't received the test account I requested from Uber.

[2022-11-01 16:54] jhammarstedt commented on #25
@RealChrisSean, I looked into this and it will be hard to get the demo account before the deadline. I'll drop from this one and work on something else instead :)

[2022-11-01 17:17] jhammarstedt opened #251 "🎉New Source: Postmarkapp"
Hi, I saw that this was [requested](https://airbyte.com/connector-requests) so would like to work on this one. I'll build it with Low-code CDK :)

[2022-11-01 17:26] neelshah2409 opened #252 "New Source : Jokes API"
https://sv443.net/jokeapi/v2/
Wanted to make a connector for it .

[2022-11-01 17:49] elliottrabac commented on #23
@RealChrisSean do you still need someone to build it?

I can work on it tomorrow if needed (deadline is 2nd Nov. right?)

[2022-11-01 17:53] RealChrisSean commented on #23
Hey! Yes please! That would be great :)

[2022-11-01 17:54] RealChrisSean commented on #23
@elliottrabac did you plan on using the low-code cdk?

[2022-11-01 17:54] elliottrabac commented on #23
Yes 👍

[2022-11-01 17:56] RealChrisSean commented on #23
Amazing :)

[2022-11-01 17:59] RealChrisSean commented on #252
Hello @neelshah2409 unfortunately we cannot accept this as a connector. Thanks for creating this issue and hope you can find another one soon before the deadline :).

[2022-11-01 17:59] #252 closed, assigned to nobody

[2022-11-01 17:59] xlahuerta opened #253 "New Source: GNews"
I'd like to add a connector for GNews.io using the low-code CDK :)

https://gnews.io/

[2022-11-01 18:02] RealChrisSean commented on #247
Awesome good luck @itaseskii

[2022-11-01 18:03] RealChrisSean commented on #251
Yes go for it! :)

[2022-11-01 18:07] akashpatl opened #254 "🎉New Source: Copper"
New Python  CDK source for [Copper](https://copper.com/), [a requested Airbyte connector ](https://airbyte.com/connector-requests)

[2022-11-01 18:07] akashpatl commented on #254
Hi I'd like to develop this source! :D

[2022-11-01 18:56] michizhou commented on #43
@RealChrisSean Do you still need someone to build this? If so, I can do it using the low-code SDK!

[2022-11-01 20:10] xlahuerta commented on #253
PR https://github.com/airbytehq/airbyte/pull/18808

[2022-11-01 21:07] RealChrisSean commented on #249
Hello @Harshil0512 we will have to reject this as this source will not be as helpful to the community. Thank you for putting the time to create this.

[2022-11-01 21:07] #249 closed, assigned to nobody

[2022-11-01 21:11] RealChrisSean commented on #248
Hi @michizhou unfortunately we will have to reject this API as it will not be used as much as we'd like. :(

[2022-11-01 21:11] #248 closed, assigned to nobody

[2022-11-01 22:14] jhammarstedt commented on #251
@RealChrisSean
Great!
I created a draft PR where I added the main streams, but I want to learn more about the low-code CDK and had some questions how I can extend this further. Would you have time to look at the questions I put in the comment there? :)

Link to draft PR: https://github.com/airbytehq/airbyte/pull/18820

[2022-11-01 22:19] dainiussa commented on #238
Opened a PR for this: https://github.com/airbytehq/airbyte/pull/18701

[2022-11-02 02:16] bala-ceg commented on #199
@RealChrisSean Raised PR  [18801](https://github.com/airbytehq/airbyte/pull/18801) for this Issue

[2022-11-02 04:14] RealChrisSean commented on #199
Amazing!

[2022-11-02 04:14] RealChrisSean commented on #238
Amazin g:)

[2022-11-02 04:15] RealChrisSean commented on #251
Awesome :). Our team will add that to the list and get back to you asap :)

[2022-11-02 04:58] elliottrabac opened #255 "New source: Workramp"
Hi @RealChrisSean

I'd like to build a last-minute connector for a popular LMS platform we are using at my company => [Workramp](https://www.workramp.com/). I plan to build it with the low-code connector today.

Good to go?

[2022-11-02 05:05] elliottrabac opened #256 "New source: Reply.io"
Hi @RealChrisSean

I'd like to build a last-minute connector for Reply.io, an sales automation platform => [Reply.io](https://reply.io/). I plan to build it with the low-code connector today.

Good to go?

[2022-11-02 06:16] neelshah2409 commented on #252
Thank You and sincere apology of not getting the standard one , I would try to make another one as soon as possible.

[2022-11-02 06:18] neelshah2409 opened #257 "New Source : TimeConverterAPI"
Hi @RealChrisSean

I'd like to build a last-minute connector for Weather API => [OpenWeatherMap.org](https://openweathermap.org/). I plan to build it with the low-code connector today.

Good to go?

[2022-11-02 06:35] #257 closed, assigned to nobody

[2022-11-02 06:37] Harshil0512 opened #258 "Source Name : Universal Weather API"
Hi @RealChrisSean

I'd like to build a last-minute connector for Weather API => [OpenWeatherMap.org](https://openweathermap.org/). I plan to build it with the low-code connector today.

[2022-11-02 06:45] michizhou commented on #184
@RealChrisSean If it's alright, I would like to work on this connector. I should have a PR out tomorrow.

[2022-11-02 06:55] btkcodedev commented on #184
I've am working with other PRs
Let @michizhou may take it, if wanted🙌

[2022-11-02 07:30] imrehg opened #259 "New source: HiBob"
HiBob is an HR platform, and much of the information (though not all) is accessible through [an API](https://apidocs.hibob.com/docs/getting-started).

[2022-11-02 07:45] RealChrisSean commented on #184
Done :)

[2022-11-02 08:27] neelshah2409 opened #260 "New Source: Solana"
I want to implement solana's NFT CDK here.

@RealChrisSean I may proceed ?

[2022-11-02 08:42] RealChrisSean commented on #258
Hello,

We currently have someone working on a weather connector so we will need to close this. :(

[2022-11-02 08:42] #258 closed, assigned to nobody

[2022-11-02 08:50] hridaya423 commented on #259
Hi, @imrehg do you want to work on this?
If not, I could start working on this

[2022-11-02 09:15] Harshil0512 opened #261 "New Source : Polygon-Stocks-API"
I want to implement polygon.io's API as they provide following results :

results (array) :
[
  c (number) :The close price for the symbol in the given time period.
  h (number) : The highest price for the symbol in the given time period.
  l (number) : The lowest price for the symbol in the given time period.
  n (integer) : The number of transactions in the aggregate window.
  o (number) : The o

[2022-11-02 09:31] Harshil0512 commented on #261
PR related to this issue :

https://github.com/airbytehq/airbyte/pull/18842

[2022-11-02 09:35] elliottrabac commented on #255
I moved forward and submitted a PR
https://github.com/airbytehq/airbyte/pull/18843

[2022-11-02 09:36] elliottrabac commented on #256
I moved forward and submitted a PR
https://github.com/airbytehq/airbyte/pull/18844

[2022-11-02 11:54] btkcodedev commented on #250
@RealChrisSean please assign this to me,
Edit: I've completed almost 75 percent of it. :)

[2022-11-02 12:23] akashpatl commented on #254
[Link to issue](https://github.com/airbytehq/connector-contest/issues/254)

[2022-11-02 16:04] btkcodedev commented on #250
@RealChrisSean Update: PR submitted :) Thanks!

[2022-11-02 16:05] btkcodedev commented on #250
https://github.com/airbytehq/airbyte/pull/18854

[2022-11-02 16:55] bala-ceg commented on #246
PR submitted: https://github.com/airbytehq/airbyte/pull/18858

[2022-11-02 17:30] RealChrisSean commented on #250
Amazing :)

[2022-11-02 17:37] RealChrisSean commented on #259
Hi @imrehg unfortunately, we will need to refuse this issue. Ty!

[2022-11-02 17:37] #259 closed, assigned to nobody

[2022-11-02 17:37] RealChrisSean commented on #260
Hello can you please link the API? Thanks.

[2022-11-02 17:46] RealChrisSean commented on #254
Amazing!

[2022-11-02 17:48] RealChrisSean commented on #53
Sorry to hear that :(

[2022-11-02 17:49] RealChrisSean commented on #244
Yup its done by me :)

[2022-11-02 17:50] RealChrisSean commented on #244
You do this in the airbyte main repo account

[2022-11-02 17:58] RealChrisSean commented on #241
AMAZING! You made a lot of connectors haha.

[2022-11-02 18:00] RealChrisSean commented on #127
Awesome :)

[2022-11-02 18:01] RealChrisSean commented on #127
Hi @sbrickel-nimble for some reason I can't see your email on your profile. Can you please DM me on slack with a link to this issue? :) I will make sure to add it on the list then.

Thanks!

[2022-11-02 18:02] RealChrisSean commented on #143
Hi @pabloescoder is the email on your profile the one you want to use to be paid via Paypal?

[2022-11-02 18:04] RealChrisSean commented on #220
@isaacharrisholt can you please update your GitHub account where it will show your email on your profile so we can send you the proper payment once we sent out everyone's prizes?

If you prefer I can also email you via Twitter to collect it. Thanks!

[2022-11-02 18:05] pabloescoder commented on #143
Hey @RealChrisSean! My PayPal email id is different. Should I send it to you on Slack?

[2022-11-02 18:05] RealChrisSean commented on #196
Hey @btkcodedev is the email on your profile the same for your PayPal account? Thanks!

[2022-11-02 18:06] RealChrisSean commented on #172
@henriblancke can you please update your GitHub account where it will show your email on your profile so we can send you the proper payment once we send out everyone's prizes?

You will receive $500 for your merged PR.

If you prefer I can also email you via Twitter to collect it. Thanks!

[2022-11-02 18:08] RealChrisSean commented on #165
@gpsamson Can you please make sure your email is visible on your profile so we can contact you once we start sending payments out?

Thank you!

[2022-11-02 18:09] RealChrisSean commented on #143
Yes please. Please DM me on slack with a link to this issue :).

[2022-11-02 18:10] RealChrisSean commented on #131
@elliottrabac Can you please make sure your email is visible on your profile so we can contact you once we start sending payments out?

Thank you!

[2022-11-02 18:10] #228 closed, assigned to sarafonseca-123

[2022-11-02 18:10] henriblancke commented on #172
@RealChrisSean updated my GitHub account :) thanks!

[2022-11-02 18:10] RealChrisSean commented on #126
@alexchouraki Can you please make sure your email is visible on your profile so we can contact you once we start sending payments out?

Thank you!

[2022-11-02 18:11] pabloescoder commented on #143
Sure, will do that right away. Thank you!

[2022-11-02 18:11] RealChrisSean commented on #111
@subhamX Can you please make sure your email is visible on your profile so we can contact you once we start sending payments out?

Thank you!

[2022-11-02 18:11] RealChrisSean commented on #104
@RobLucchi Can you please make sure your email is visible on your profile so we can contact you once we start sending payments out?

Thank you!

[2022-11-02 18:12] RealChrisSean commented on #101
@itaseskii Can you please make sure your email is visible on your profile so we can contact you once we start sending payments out?

Thank you!

[2022-11-02 18:15] RealChrisSean commented on #240
How are things going? :)

[2022-11-02 18:20] pabloescoder commented on #143
@RealChrisSean I've messaged you on Slack with my PayPal email id and I've also updated my GitHub profile to show my PayPal email id.

[2022-11-02 19:22] gpsamson commented on #165
Done! Thanks

[2022-11-02 19:31] subhamX commented on #111
@RealChrisSean Done;

[2022-11-02 21:22] aazam-gh commented on #187
Hey @RealChrisSean my PR was being under review by a contributor but wasn't merged yesterday. Will it still count towards the contest?

[2022-11-02 22:00] isaacharrisholt commented on #220
@RealChrisSean Twitter would be better. It's @IsaacHarrisHolt. Thanks!

[2022-11-02 22:14] btkcodedev commented on #230
Closing as the source ismt much useful

[2022-11-02 22:14] #230 closed, assigned to btkcodedev

[2022-11-02 22:48] jhammarstedt opened #262 "🎉New Source: Recreation.gov"
Hi, I would like to work on [this one](https://ridb.recreation.gov/landing) using the Low-Code CDK :)

[2022-11-02 23:58] jhammarstedt commented on #262
And here's the last minute PR! :)

https://github.com/airbytehq/airbyte/pull/18881

[2022-11-03 03:32] bala-ceg commented on #245
PR #18863 is submitted for this connector issue

[2022-11-03 06:50] bala-ceg opened #263 "New Source: Aha"
Documentation: https://www.aha.io/api/

I would like to work on this issue.

[2022-11-03 06:51] bala-ceg commented on #263
Apologies for last minute PR

PR Raised for the Feature: https://github.com/airbytehq/airbyte/pull/18893

[2022-11-03 07:57] dainiussa commented on #180
This PR is merged now @RealChrisSean

[2022-11-03 15:02] btkcodedev commented on #196
@RealChrisSean Linked mail is different, I've got my paypal.me link as
https://paypal.me/btkcodedev?country.x=IN&locale.x=en_GB
Thanks!

[2022-11-04 03:13] btkcodedev commented on #157
@RealChrisSean Update: Successfully merged!
Thank you🎉🎉

[2022-11-04 03:17] sohailgi commented on #115
https://github.com/airbytehq/airbyte/pull/18951

Pull request added

[2022-11-05 11:54] isaacharrisholt commented on #220
Hey, just wanted to flag that this is tagged with `python-cdk` when it was made with the low-code CDK :)

[2022-11-05 11:54] isaacharrisholt commented on #219
Hey, just wanted to flag that this is tagged with `python-cdk` when it was made with the low-code CDK :)

[2022-11-05 11:55] isaacharrisholt commented on #204
Hey, just wanted to flag that this is tagged with `python-cdk` when it was made with the low code CDK :)

[2022-11-05 11:55] isaacharrisholt commented on #166
Hey, just wanted to flag that this is tagged with `python cdk` when it was made with the low-code CDK :)

[2022-11-05 11:55] isaacharrisholt commented on #224
Hey, just wanted to flag that this is tagged with `python cdk` when it was made with the low-code CDK :)

[2022-11-05 11:55] isaacharrisholt commented on #222
Hey, just wanted to flag that this is tagged with `python cdk` when it was made with the low-code CDK :)

[2022-11-06 02:05] mmolimar opened #264 "New Source: Pagerduty"
Hey!

I'd like to start building a source connector for [Pagerduty](https://developer.pagerduty.com).

There is already a connector for PD from [Faros AI](https://github.com/faros-ai/airbyte-connectors/tree/main/sources/pagerduty-source) but it implements a few entities using the CDK for Javascript/Typescript and I'd like to add a few more with the low-code CDK.

[2022-11-06 02:25] RealChrisSean commented on #264
Hello, hacktoberfest has ended. Ty though.

On Sat, Nov 5, 2022 at 7:05 PM Mario Molina ***@***.***>
wrote:

[2022-11-06 18:13] josix commented on #106
Hello @RealChrisSean It seems like the tag `python cdk` is wrong, I'm actually using `low-code cdk`.

[2022-11-06 20:23] RobLucchi opened #265 "Source: Crypto Compare"
Hello,

I @RobLucchi, @OmarEl-mahdy ,and @AhmedAHassan would like to work on this API source connector.

API Docs: https://min-api.cryptocompare.com/documentation

[2022-11-07 03:36] armsepehr commented on #37
@RealChrisSean, why do you close the issue? The sharepoint connector is implemented or not in the mainline of the project

[2022-11-08 02:38] #203 closed, assigned to deanmalan

[2022-11-08 14:59] elliottrabac commented on #131
Done ✅

[2022-11-09 01:43] #168 closed, assigned to pabloescoder

[2022-11-09 01:45] pabloescoder commented on #185
@RealChrisSean My PR for this issue has been merged successfully :D Could you please add the `completed` tag?

[2022-11-10 18:02] xlahuerta commented on #214
Merged! 🎉

[2022-11-10 18:02] xlahuerta commented on #253
Merged! 🎉

[2022-11-10 18:02] xlahuerta commented on #239
Merged! 🎉

[2022-11-10 20:31] xlahuerta commented on #205
Merged! 🎉

[2022-11-10 21:41] marcosmarxm commented on #195
It was merged in https://github.com/airbytehq/airbyte/pull/19307

[2022-11-12 14:07] Sid-Lais commented on #6
@RealChrisSean @avaidyanatha  You can close this issue as it has been merged.

[2022-11-14 01:51] cirdes commented on #211
@RealChrisSean, merged!

https://github.com/airbytehq/airbyte/pull/18669

[2022-11-14 01:51] cirdes commented on #236
@RealChrisSean , merged!

https://github.com/airbytehq/airbyte/pull/18745

[2022-11-14 13:51] #218 closed, assigned to jrhizor

[2022-11-14 19:52] YowanR commented on #109
@koconder Hi Vincent, is this still a contribution that you are looking to make? :)

[2022-11-14 19:56] vincentkoc commented on #109
@YowanR more than happy to help 🚀

[2022-11-15 02:47] bala-ceg commented on #263
@RealChrisSean The connector issue PR is merged

[2022-11-15 05:40] RealChrisSean commented on #263
Hey @bala-ceg awesome! Which cdk did you use? :)

[2022-11-15 05:41] RealChrisSean commented on #263
I figured it out. Congrats :D

[2022-11-15 06:03] bala-ceg commented on #263
Thanks @RealChrisSean for the help

[2022-11-15 22:53] #185 closed, assigned to pabloescoder

[2022-11-16 05:36] btkcodedev commented on #196
@RealChrisSean Do tag me here or contact me with email, for any further information

[2022-11-17 05:53] btkcodedev commented on #231
@RealChrisSean Update: PR merged successfully!
Thanks for the support

[2022-11-17 05:57] btkcodedev commented on #137
@RealChrisSean Update: PR merged successfully!
Thanks for the support

[2022-11-17 05:58] btkcodedev commented on #137
Please tag me here for any further information

[2022-11-17 06:20] bala-ceg commented on #245
@RealChrisSean  PR merged for this connector
Thanks!

[2022-11-18 07:42] #173 closed, assigned to nobody

[2022-11-18 16:25] #48 closed

[2022-11-18 19:36] #262 closed, assigned to jhammarstedt

[2022-11-18 22:33] jhammarstedt commented on #251
@RealChrisSean has been merged so we can close this😊

[2022-11-18 22:34] jhammarstedt commented on #237
@RealChrisSean has been merged so we can close this😊

[2022-11-18 22:34] jhammarstedt commented on #161
@RealChrisSean has been merged so we can close this😊

[2022-11-29 19:35] YiyangLi commented on #183
The commit has been reverted. https://github.com/airbytehq/airbyte/pull/19357